{% load static  %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Jobinza</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'blog/fonts/icomoon/style.css'%}">
    <link rel="icon" href="{% static 'jobinza/images/icon.png' %}">

    <link rel="stylesheet" href="{% static 'jobinza/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'jobinza/css/magnific-popup.css'%}">
    <link rel="stylesheet" href="{% static 'jobinza/css/jquery-ui.css'%}">
    <link rel="stylesheet" href="{% static 'jobinza/css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'jobinza/css/owl.theme.default.min.css'%}">
    <link rel="stylesheet" href="{% static 'jobinza/css/bootstrap-datepicker.css'%}">
    <link rel="stylesheet" href="{% static 'jobinza/css/animate.css'%}">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">
    
    
    
    <link rel="stylesheet" href="{% static 'jobinza/fonts/flaticon/font/flaticon.css'%}">
  
    <link rel="stylesheet" href="{% static 'jobinza/css/aos.css'%}">

    <link rel="stylesheet" href="{% static 'jobinza/css/style.css'%}">

    <!------------------------------Profile.html--------------------------->
    <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous"> -->
    
    <!-- <link rel="stylesheet" href="{% static 'jobinza/css/profile-design.css' %}"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons">
    <link rel="stylesgeet" href="https://rawgit.com/creativetimofficial/material-kit/master/assets/css/material-kit.css">
    <!---------------------------------------------------------------------------->
    
  </head>


  <body>
  
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    
    
    <div class="site-navbar-wrap js-site-navbar bg-white">
      
      <div class="container">
        <div class="site-navbar bg-light">
          <div class="py-1">
            <div class="row align-items-center">
              <div class="col-2">
               <h2 class="mb-0 site-logo"><a href="index.html"><img src="{% static 'jobinza/images/logoo.png' %}"> </a></h2> 
              <!--<img src="../static/jobinza/images/logoo.png">-->
              </div>
              <div class="col-10">
                <nav class="site-navigation text-right" role="navigation">
                  <div class="container">
                    <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

                    <ul class="site-menu js-clone-nav d-none d-lg-block">
                    {% if user.is_authenticated %}
                      <!--<li><a href="categories.html">For Candidates</a></li>-->
                      <li class="has-children">
                        <a href="#">Jobs</a>
                        <ul class="dropdown arrow-top">
                          <li><a href="/company/create">Post a Job</a></li>
                          <li><a href="/company/list">List Jobs</a></li>
                          <!--<li class="has-children">
                            <a href="#">More Links</a>
                            <ul class="dropdown">
                              <li><a href="#">Browse Candidates</a></li>
                              <li><a href="#">Post a Job</a></li>
                              <li><a href="#">Employeer Profile</a></li>
                            </ul>
                          </li>-->

                        </ul>
                      </li>
                      <!--<li><a href="contact.html">Contact</a></li>-->
                      
                      <li><a href="/company/create"><span class="bg-primary text-white py-3 px-4 rounded">Post New Job</span></a></li>
                      <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{user.username }}
                          </a>
                          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Change password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                          </div>
                        </li>
                      {% else %}
                        <li>
                        <form class="form-inline my-2 my-lg-0">
                        <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
                        <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Sign up</a>
                      </form>
                      </li>
                    {% endif %}
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  <script src="{% static 'jobinza/js/jquery-3.3.1.min.js'%}"></script>
  <script src="{% static 'jobinza/js/jquery-migrate-3.0.1.min.js'%}"></script>
  <script src="{% static 'jobinza/js/jquery-ui.js'%}"></script>
  <script src="{% static 'jobinza/js/popper.min.js'%}"></script>
  <script src="{% static 'jobinza/js/bootstrap.min.js'%}"></script>
  <script src="{% static 'jobinza/js/owl.carousel.min.js'%}"></script>
  <script src="{% static 'jobinza/js/jquery.stellar.min.js'%}"></script>
  <script src="{% static 'jobinza/js/jquery.countdown.min.js'%}"></script>
  <script src="{% static 'jobinza/js/jquery.magnific-popup.min.js'%}"></script>
  <script src="{% static 'jobinza/js/bootstrap-datepicker.min.js'%}"></script>
  <script src="{% static 'jobinza/js/aos.js'%}"></script>

  
  <script src="{% static 'jobinza/js/mediaelement-and-player.min.js'%}"></script>

  <script src="{% static 'jobinza/js/main.js'%}"></script>
    

  <script>
      document.addEventListener('DOMContentLoaded', function() {
                var mediaElements = document.querySelectorAll('video, audio'), total = mediaElements.length;

                for (var i = 0; i < total; i++) {
                    new MediaElementPlayer(mediaElements[i], {
                        pluginPath: 'https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/',
                        shimScriptAccess: 'always',
                        success: function () {
                            var target = document.body.querySelectorAll('.player'), targetTotal = target.length;
                            for (var j = 0; j < targetTotal; j++) {
                                target[j].style.visibility = 'visible';
                            }
                  }
                });
                }
            });
    </script>


    <script>
      // This example displays an address form, using the autocomplete feature
      // of the Google Places API to help users fill in the information.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      var placeSearch, autocomplete;
      var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
      };

      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
      }

      function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        for (var component in componentForm) {
          document.getElementById(component).value = '';
          document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
          }
        }
      }

      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }
    </script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&libraries=places&callback=initAutocomplete"
        async defer></script>

    <!--------------------------------------profile.html-------------------------------------->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


    <div style="height: 113px;"></div>
{% block content %}

{% endblock content %}
  </body>
</html>