{% load static  %}
<!DOCTYPE html>

<html lang="en">
  <head>
    <title>Jobinza</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'jobinza/fonts/icomoon/style.css'%}">
    <link rel="icon" href="{% static 'jobinza/images/icon.png' %}">

    
    <link rel="stylesheet" href="{% static 'jobinza/css/bootstrap.min.css'%}">
    <link rel="stylesheet" href="{% static 'jobinza/css/magnific-popup.css'%}">
    <link rel="stylesheet" href="{% static 'jobinza/css/jquery-ui.css'%}">
    <link rel="stylesheet" href="{% static 'jobinza/css/owl.carousel.min.css'%}">
    <link rel="stylesheet" href="{% static 'jobinza/css/owl.theme.default.min.css'%}">
    <link rel="stylesheet" href="{% static 'jobinza/css/bootstrap-datepicker.css'%}">
    <link rel="stylesheet" href="{% static 'jobinza/css/animate.css'%}">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/mediaelementplayer.min.css">
    
    <link rel="stylesheet" href="{% static 'jobinza/fonts/flaticon/font/flaticon.css'%}">
  
    <link rel="stylesheet" href="{% static 'jobinza/css/aos.css'%}">

    <link rel="stylesheet" href="{% static 'jobinza/css/style.css'%}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    
    <style>

body{
    /*background-color: #f0f0f0;*/
    /* background-color: #579464; */
    background-color: #f0f0f0;
  }
.add-btn{
    /*position: fixed;*/
    background-color: #fff;
    /* bottom:50px;
    right:50px; */
    color: white;
    border: none;
    border-radius: 50%;
    box-shadow: 2px 6px 10px 0px rgba(0,0,0,.3), 2px 3px 4px 0px rgba(0,0,0,.2);
    font-size: 30px;
    padding: 9px 14px 6px;
}


.add-button{
    position: fixed;
    bottom: 20px;
    right: 40px;
    /*z-index: 3;*/
}

.search{
  margin-right: 30px;
  border: 0;
  width: 400px;
  height: 30px;
  padding: 10px 40px 10px 20px;
  font-size: 15px;
  color: #fff;
  background: linear-gradient(to right, #195c2f 0%, #618B25 28%, #26a84a 50%, #CEEC97 120%);
  background-color: #fff;
  font-family: 'Lato', sans-serif;
  border-radius: 30px;
  /* border-image: linear-gradient(to right, #272838 0%, #386C0B 28%, #618B25 50%, #38A700 120%);
  border-image-slice: 1; */
}


.icon-search { 
   position: absolute; 
 } 


input.placeholder {
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  font-weight: 400;
}
 input:-moz-placeholder {
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  font-weight: 400;
}

input::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 1);
  font-size: 15px;
  font-weight: 400;
}

.icon-wrap {
  position: absolute;
  top: 0;
  right: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  width: 60px;
  height: 100%;
}

 .icon-wrap svg {
  width: 25px;
  height: 25px;
  fill: #fff;
}

.site-navbar .site-navigation .site-menu > li > a {
  font-weight: bold;
  font-size: 15px; 
}
/*********_____ Active, Responsive Search _____********/ 
.SearchIconBtn{
  background:none;
  border:none;
  outline: unset;
}
.autocomplete {
  position: relative;
  display: inline-block;

}
.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  margin-left: 10px;
  width: 380px;
  max-height: 400px;
  overflow: scroll;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
/************____ End of Search ____**********/


/* Notification */
#dropdownMenuLink .p1[data-count]:after{
  position:absolute;
  right:1%;
  top:12%;
  content: attr(data-count);
  font-size:40%;
  padding:.2em;
  line-height:1em;
  color: white;
  background:rgba(255,0,0,.85);
  text-align:right;
  min-width: 1em;
}


</style>
 
 

 
  </head>
  <body>
  <div class="site-wrap">

    <div class="site-mobile-menu">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div> <!-- .site-mobile-menu -->
    
    
    <div class="site-navbar-wrap js-site-navbar bg-white">
      
      <div class="container">
        <div class="site-navbar bg-light">
          <div class="py-1">
            <div class="row align-items-center">
              <div class="col-2">
               <h2 class="mb-0 site-logo"><a href="/"><img src="{% static 'jobinza/images/jobinza.png' %}" style="width: 150px;height: 55px;"> </a></h2> 
              <!--<img src="../static/jobinza/images/logoo.png">-->
              </div>

              <div class="col-10">
                <nav class="site-navigation text-right" role="navigation">
                  <div class="container">
                    <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a></div>

                    <ul class="site-menu js-clone-nav d-none d-lg-block">
                    {% if user.is_authenticated %}
                      <!--<li><a href="categories.html">For Candidates</a></li>-->
                      <!-- <form class="form-inline mr-auto" method = "post" action="/search/">
                        {%csrf_token%}
                                      
                   {% comment %} <input class="form-control" name="srh" type="text" placeholder="Search" aria-label="Search">
                   <button class="btn btn-mdb-color btn-rounded btn-sm my-0 ml-sm-2" type="submit">Search</button> {% endcomment %}
                  </form> -->
                  <li>
                    <form autocomplete="off" action="/search/" method = "post">
                      {%csrf_token%}
                      <div class="autocomplete">
                        <input id="myInput" class="search" name="srh" type="text" placeholder="Search ..." /> 
                        <!--<input class="search" type="text" placeholder="Search ..." />-->
                        <div class="icon-wrap">
                          <button class="SearchIconBtn" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                              <path d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                            </svg>
                          </button>
                        </div>
                      </div>
                    </form>
                  </li>
                      <li class="has-children">

                        <a href="#">Jobs</a>
                        <ul class="dropdown arrow-top">
                          <li><a href="/company/create">Post a Job</a></li>
                          <li><a href="/company/list">List Jobs</a></li>
                          <!--<li class="has-children">
                            <a href="#">More Links</a>
                            <ul class="dropdown">
                              <li><a href="#">Browse Candidates</a></li>
                              <li><a href="#">Post a Job</a></li>
                              <li><a href="#">Employeer Profile</a></li>
                            </ul>
                          </li>-->

                        </ul>
                      </li>
                      
                      
                     <!-- <li><a href="/company/create"><span class="bg-primary text-white py-3 px-4 rounded"><span class="icon-plus mr-3"></span>Post New Job</span></a></li>-->
                      <li class="nav-item dropdown">

                          <!-- <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            {{user.username }}
                          </a> -->
                          <!-- <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Change password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'logout' %}">Log out</a>
                          </div> -->

                          
                          <li class="has-children" >
                            <a href="/applicant/profile/{{user.username}}" style="padding-right: 17px;">{{user.username }}</a>
                            <ul class="dropdown arrow-top" >
                              <li><a href="{% url 'password_change' %}">Change password</a></li>
                              <li><a href="{% url 'logout' %}">Log out</a></li>
                              <!--<li class="has-children">
                                <a href="#">More Links</a>
                                <ul class="dropdown">
                                  <li><a href="#">Browse Candidates</a></li>
                                  <li><a href="#">Post a Job</a></li>
                                  <li><a href="#">Employeer Profile</a></li>
                                </ul>
                              </li>-->
    
                            </ul>
                          </li>
                        </li>

                        <!--               Notification                -->
                        <li >
                          <div class="dropdown" >
                            <a class=" dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: black;">
                              {% if count > 0 %}
                              <span class="p1 fa-stack fa-2x has-badge" data-count="4">
                              <i class="fa fa-bell" style="font-size:25px; color:black;"></i>
                              {% else%}  
                                <!--<i class="p2 fa fa-circle fa-stack-2x"></i>-->
                                <i class="fa fa-bell" style="font-size:25px; color:black;"></i>
                                {% endif %}
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink" style="width: 500px;">
                              <p>Welcome </p>
                            </div>
                          </div>
                        </li>
                        <!-- End of notification -->
                        
                      {% else %}
                      <li><a href="{% url 'contact'%}">Contact</a></li> 
                      
                        <li>
                        
                        <form class="form-inline my-2 my-lg-0">
                        <a href="{% url 'login' %}" class="btn btn-outline-secondary">Log in</a>
                        <a href="{% url 'signup' %}" class="btn btn-primary ml-2">Sign up</a>
                      </form>
                      
                      </li>
                    {% endif %}
                    </ul>
                  </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
  <script src="{% static 'jobinza/js/jquery-3.3.1.min.js'%}"></script>
  <script src="{% static 'jobinza/js/jquery-migrate-3.0.1.min.js'%}"></script>
  <script src="{% static 'jobinza/js/jquery-ui.js'%}"></script>
  <script src="{% static 'jobinza/js/popper.min.js'%}"></script>
  <script src="{% static 'jobinza/js/bootstrap.min.js'%}"></script>
  <script src="{% static 'jobinza/js/owl.carousel.min.js'%}"></script>
  <script src="{% static 'jobinza/js/jquery.stellar.min.js'%}"></script>
  <script src="{% static 'jobinza/js/jquery.countdown.min.js'%}"></script>
  <script src="{% static 'jobinza/js/jquery.magnific-popup.min.js'%}"></script>
  <script src="{% static 'jobinza/js/bootstrap-datepicker.min.js'%}"></script>
  <script src="{% static 'jobinza/js/aos.js'%}"></script>
  <script src="../static/jobinza/js/search_field.js"></script>

  
  <script src="{% static 'jobinza/js/mediaelement-and-player.min.js'%}"></script>

  <script src="{% static 'jobinza/js/main.js'%}"></script>
  <script src="{% static 'notify/notifyX.js' %}"></script>


  <script>
      document.addEventListener('DOMContentLoaded', function() {
                var mediaElements = document.querySelectorAll('video, audio'), total = mediaElements.length;

                for (var i = 0; i < total; i++) {
                    new MediaElementPlayer(mediaElements[i], {
                        pluginPath: 'https://cdn.jsdelivr.net/npm/mediaelement@4.2.7/build/',
                        shimScriptAccess: 'always',
                        success: function () {
                            var target = document.body.querySelectorAll('.player'), targetTotal = target.length;
                            for (var j = 0; j < targetTotal; j++) {
                                target[j].style.visibility = 'visible';
                            }
                  }
                });
                }
            });
    </script>


    <script>
      // This example displays an address form, using the autocomplete feature
      // of the Google Places API to help users fill in the information.

      // This example requires the Places library. Include the libraries=places
      // parameter when you first load the API. For example:
      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">

      var placeSearch, autocomplete;
      var componentForm = {
        street_number: 'short_name',
        route: 'long_name',
        locality: 'long_name',
        administrative_area_level_1: 'short_name',
        country: 'long_name',
        postal_code: 'short_name'
      };

      function initAutocomplete() {
        // Create the autocomplete object, restricting the search to geographical
        // location types.
        autocomplete = new google.maps.places.Autocomplete(
            /** @type {!HTMLInputElement} */(document.getElementById('autocomplete')),
            {types: ['geocode']});

        // When the user selects an address from the dropdown, populate the address
        // fields in the form.
        autocomplete.addListener('place_changed', fillInAddress);
      }

      function fillInAddress() {
        // Get the place details from the autocomplete object.
        var place = autocomplete.getPlace();

        for (var component in componentForm) {
          document.getElementById(component).value = '';
          document.getElementById(component).disabled = false;
        }

        // Get each component of the address from the place details
        // and fill the corresponding field on the form.
        for (var i = 0; i < place.address_components.length; i++) {
          var addressType = place.address_components[i].types[0];
          if (componentForm[addressType]) {
            var val = place.address_components[i][componentForm[addressType]];
            document.getElementById(addressType).value = val;
          }
        }
      }

      // Bias the autocomplete object to the user's geographical location,
      // as supplied by the browser's 'navigator.geolocation' object.
      function geolocate() {
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var geolocation = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };
            var circle = new google.maps.Circle({
              center: geolocation,
              radius: position.coords.accuracy
            });
            autocomplete.setBounds(circle.getBounds());
          });
        }
      }
    </script>
 
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&libraries=places&callback=initAutocomplete"
        async defer></script>
    

    <!--------------------------------------profile.html-------------------------------------->
    

  <div style="height: 113px;"></div>
    {% block content %}
    
    {% endblock content %}

    {% if request.path != '/company/create/' and user.is_authenticated %}
    <div class="add-button">
      <a class="add-btn" href="/company/create"><i class="fa fa-plus" style="color: #28a745;"></i></a>
    </div>
    {% endif %}
  <!--<p>URL of this page: {{ request.path }}</p>-->


    <footer class="site-footer">
      <div class="container">
        

        <div class="row">
          <div class="col-md-4">
            <h3 class="footer-heading mb-4 text-white">About</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat quos rem ullam, placeat amet.</p>
            <p><a href="#" class="btn btn-primary pill text-white px-4">Read More</a></p>
          </div>
          <div class="col-md-6">
            <div class="row">
              <div class="col-md-6">
                <h3 class="footer-heading mb-4 text-white">Quick Menu</h3>
                  <ul class="list-unstyled">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Approach</a></li>
                    <li><a href="#">Sustainability</a></li>
                    <li><a href="#">News</a></li>
                    <li><a href="#">Careers</a></li>
                  </ul>
              </div>
              <div class="col-md-6">
                <h3 class="footer-heading mb-4 text-white">Categories</h3>
                  <ul class="list-unstyled">
                    <li><a href="#">Full Time</a></li>
                    <li><a href="#">Freelance</a></li>
                    <li><a href="#">Temporary</a></li>
                    <li><a href="#">Internship</a></li>
                  </ul>
              </div>
            </div>
          </div>

          
          <div class="col-md-2">
            <div class="col-md-12"><h3 class="footer-heading mb-4 text-white">Social Icons</h3></div>
              <div class="col-md-12">
                <p>
                  <a href="#" class="pb-2 pr-2 pl-0"><span class="icon-facebook"></span></a>
                  <a href="#" class="p-2"><span class="icon-twitter"></span></a>
                  <a href="#" class="p-2"><span class="icon-instagram"></span></a>
                  <a href="#" class="p-2"><span class="icon-vimeo"></span></a>

                </p>
              </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy; <script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All Rights Reserved
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>
          
        </div>
      </div>
    </footer>

  </body>
</html>