{% extends 'base.html' %}
{%load static%}
{% block content %}
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons">
<style>
  .col-md-12 , .p-4
  {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
  }
  .custom-scrollbar-css {
    background-color: #FFF;
    height: 650px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-y: auto;
    overflow-x: hidden;
  }
  .custom-scrollbar-css::-webkit-scrollbar {
    width: 5px;
  }

  /* scrollbar track */
  .custom-scrollbar-css::-webkit-scrollbar-track {
    background: #eee;
  }

  /* scrollbar handle */
  .custom-scrollbar-css::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: #28a745;
  }
  .profile-tabs {
    margin-top: 15px;
  }
  .tabs {
    float: right; 
    margin-right: 5%;
    height: 20px;
  }
  .nav-itemx{
    margin-left: 15px;
    height: 10px;
    height: 10px;

  }
  .nav-itemx a {
    padding-bottom: 15px;
    color:black;

  }
  .nav-itemx a:hover {
    color: #4e815a;
  }
  
  .nav-itemx a.active{
    color: #28a745;
  }

  #btn-acc , #btn-rej{
    float: left;
    margin-left: 2%;
    margin-top: 9px;
    height: 27px;
    padding-top: 0.5px;
    border-radius: 10px;
  }
  #btn-rej {
    margin-left: 1%;
  }
.range {
  height:40px;
  background-color:#9aa194;
  color: #fff;
  margin-top: 30px;
  width: 105%;
  margin-left: -10px;

}
.range label{
  float: left;
  margin-left: 1.5%;
  padding-right: 0.5%;
  padding-top: 4px;
}
.range input {
  float: left;
  margin-left: 1px;
  width:75px;
  height:28px;
  margin-top:5px ;
}
.select {
  height: 40px;
  background-color:#f8f9fa;
  width:105%;
  margin-left: -7px;
  padding-top: -3px;

}
.select input {
  vertical-align: middle;

}
  .link {
      text-align:left;
      margin-left: 20px;
      color:black;
      font-size: 18px;
      min-width: 250px !important;
      overflow: hidden;
  }

  /* .progress-bar h5{
    padding-left: 420px;
    padding-top: 5px;
    font-size:13px;
    color:black
    } */
  .progress{
      width :100%;
      height:10px;
    }
  .progress-bar{
    height:15px;
  }
  .app_prop{
    float: left;
    margin-left: 15px;
  }
  .app_prop small{
    margin: 0px 10px;
  }
  .tab-pane input{
    float:left; margin-left: -4%;  width: 18px; height:18px; margin-top: -7px; 
  }
  #studio , #accepted  , #rejected{
    margin-top: -15px; margin-left: -30%; 
  }
</style>

<div class="site-section bg-light">
  <div class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}}" style="text-align:center" id="mess">
            {{message}}
        </div>
      {% endfor %}
    {% endif %}
    {% if job is not None %}
    <div class="row">
      <div class="col-md-12 col-lg-8 mb-5">
        <div class="p-5 bg-white">

          <div class="mb-4 mb-md-5 mr-5">
            <div class="job-post-item-header d-flex align-items-center">
              <h2 class="mr-3 text-black h4">{{job.jobtitle}}</h2>
              <div class="badge-wrap">
              <span class="border border-warning text-warning py-1 px-3 rounded">{{job.category_id}}</span>
              </div>
            </div>
            <div class="job-post-item-body d-block d-md-flex">
              <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span>{{job.joblocation}}</div>
              <div><span class="fl-bigmug-line-big104"></span> <span>{{job.city}} , {{job.Area}}</span></div>
            </div>
          </div>
          <p style="word-wrap: break-word;">{{job.job_description}}</p>
          <p><strong>Career level:</strong> {{job.careerlevel}}</p>
          <p><strong>Years Of Experience:</strong> {{job.year_of_experience}}</p>
          <p><strong>Salary Range:</strong>${{job.salary_range1}} - {{job.salary_range2}}</p>
          <p><strong>Number of Vacancies::</strong> {{job.num_vacancies}}</p>
          <p><strong>Job Type:</strong> {{job.jobtype}}</p>
          <p style="width: fit-content;width: -moz-fit-content;word-wrap: break-word;"><strong>Skills:</strong>
            {% if job.skills is not None %}
              {%for skill in skills%}
              <span style="background-color: rgb(0, 70, 70);color: white;margin-right: 5px;padding: 3px 9px;border-radius: 5px;">{{skill}}</span>
              {% endfor %}
            {%endif%}
          </p>
          <p style="color:black"><i class="fas fa-eye"></i> <strong>Seen by : </strong> {{job.views}}</p>
          <p style="color:red"><strong>Deadline:</strong> {{job.deadline}}</p>
          <!-- <p class="mt-5"><a href="#" class="btn btn-primary  py-2 px-4">Apply Job</a></p> -->
        </div>
      </div>

      <div class="col-lg-4">
        <div class="p-4 mb-3 bg-white">
          <h3 class="h5 text-black mb-3">Control</h3>
          <p>Be careful while control any job !</p>
          <p>
          
            {%if job.status != 'closed'%}
              <a href="/company/status/{{job.id}}" class="btn btn-dark  py-1 px-3"
                id="state" data-toggle="modal" data-target="#exampleModal">Close</a>
            {%else%}
              <a href="/company/status/{{job.id}}" class="btn btn-warning  py-1 px-3"
                style="color: white" id="state" data-toggle="modal" data-target="#exampleModal">
              Open</a>
            {%endif%}
            <a href="/company/edit/{{job.id}}" class="btn btn-info  py-1 px-3">Edit</a>
            <a href="/company/delete/{{job.id}}" class="btn btn-danger  py-1 px-3"
            data-toggle="modal" data-target="#exampleModal" id="delete">Delete</a>
          </p>
        </div>
      </div>
    </div>
    {%endif%}
  </div>
</div>

<!-------------________RESULTS________------------->

<div class="site-section bg-light">
  <div class="container">
    <div  class="custom-scrollbar-css p-2">
      {% if applicants %}
      <div class="text-center mb-5" style=" width: 100%;">
          <div class="row" style="width: 100%;">
            <!--Tabs header-->
            <div class="profile-tabs justify-content-center" style="width: 100%;">
              <div class="tabs">
              <ul class="nav nav-pills nav-pills-icons" role="tablist">
                <li class="nav-itemx">
                    <a id="tap1" class="active" href="#studio" role="tab" data-toggle="tab" >
                      <i class="fa fa-align-justify fa-lg" ></i>
                      
                    <br>ALL</a>
                </li>
                <!-- <li class="nav-itemx">
                  <a id="tap2" href="#pending" role="tab" data-toggle="tab">
                    <i class="fa fa-check fa-lg"></i>
                    <small style="color: rgb(237, 184, 100);" class="pend"></small>
                  <br> Pending</a>
                </li> -->
                <li class="nav-itemx">
                  <a id="tap2" href="#accepted" role="tab" data-toggle="tab">
                    <i class="fa fa-check fa-lg"></i>
                    <small style="color: rgb(124, 212, 9);" class="acnum"></small>
                  <br> Accepted</a>
                </li>
                <li class="nav-itemx">
                  <a id="tap3" href="#rejected" role="tab" data-toggle="tab">
                    <i class="fa fa-times fa-lg"></i>
                    <small style="color: rgb(237, 173, 100);" class="rjnum"></small>
                  <br>Rejected</a>
                </li>
                <li class="nav-itemx">
                  <a href="#" data-toggle="modal" data-target="#exampleModalINTER">
                    <i class="far fa-clock fa-lg"></i>
                    <small style="color: rgb(237, 173, 100);" class="interview"></small>
                  <br>interview</a>
                </li>
              </ul>
            </div>
            <form id="acc_form" action="{% url 'company:selected_applicants' user.username job.jobtitle 'Accepted'  %}" method="POST">{% csrf_token %}
            <input type="hidden" name="applicants_emails" class="applicants_emails">
            <button type="submit" class="btn btn-success" id="btn-acc" disabled>Accept Selected</button>
            </form>
            <form id="rej_form" action="{% url 'company:selected_applicants' user.username job.jobtitle 'Rejected'  %}" method="POST">{% csrf_token %}
              <input type="hidden" name="applicants_emails" class="applicants_emails">
              <button type="submit" class="btn btn-danger" id="btn-rej" disabled>Reject Selected</button>
            </form>
            </div>

          </div>
          <!--Controll filtration-->
          <div class="range">
             <label>Percentage</label> 
             <input type="text" onkeyup="ProgRange()" id="rangebox" style="text-align: center;width: 50px;border: none;border-radius: 10%;"> <label style="margin-left: 0.3%;"> %</label> <small style="float: left; padding-top:8px; font-size:13px;">enter a value to show only applicants from this value to 100%</small>
          </div>

          <div class="select" style="text-align:left" >
            <input type="checkbox" id="selectAll" style="margin-left: 1%; width: 18px; height:18px; color:#fff" />
            <label style="padding-top: 5.5px; color: #28a745; padding-right: 4px;;"> Select all </label><!--  |                          
            <label style="top: 10px; color: #28a745; padding-left: 4px;">   
             Select top </label> 
             <input type="number" style="width: 47px; height:23px ; text-align: center;" />  -->
          </div>

          <!--End of tab header -->
          {% else %}
           <li class="list-group-item " style="text-align: center;width:30%; margin: 10% 35%">No one Applied to this job </li>
          {%endif%}
      </div>

      <!-- _____________CONTENT OF ALL tab _________________-->
      <div id="checkboxes" class="row justify-content-center" style="width: 100%;">
          <div class="tab-content tab-space" style="width: 65%; margin-left:25%">
            <!-- _______  ALL APPLICANTS _______ -->
            <div class="tab-pane active text-center gallery all" id="studio">
              {% for appl in applicants %}
                <!--Rank Result-->
              <div id="applicantpanal" style="display: inline-block;width: 100%;margin-bottom: 10px; ">
                <div class="row" >
                  <a class="link" href="/applicant/profile/{{appl.aplcnt}}">{{appl.aplcnt}}</a> 
                </div>
                
                <input name="{{appl.app_email}}" type="checkbox" >
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{appl.skills_rslt}}" aria-valuemin="0" aria-valuemax="100" >
                  </div>              
                </div>

                <div class="app_prop">
                  <small><a href="../../../media/{{appl.resume}}">Download Resume <i class="fas fa-file-download"></i></a></small>
                  |                  
                  <small><a href="/company/send_email/{{appl.aplcnt}}/{{appl.id}}/">send email <i class="fas fa-check-circle"></i></a></small>
                  |                  
                  <small class="rej"><a data-toggle="collapse" href="#collapseExample{{appl.aplcnt}}" role="button" aria-expanded="false" aria-controls="collapseExample">More Details <i class="fas fa-sort-down"></i></a></small>
                </div>
                <small style="margin: 0px 10px;float: right;" >{{appl.skills_rslt}}%</small>
                {% if appl.status == 'Accepted' %}
                <span class="badge badge-pill badge-success" style=" margin-left:40%;" >{{appl.status}}</span>
                {% elif appl.status == 'pending' %}
                <span class="badge badge-pill badge-warning" style="margin-left:40%; color: #fff;" >{{appl.status}}</span>
                {% else %}
                <span class="badge badge-pill badge-danger" style="margin-left:40%;" >{{appl.status}}</span>
                {% endif %}
              </div>
              
              <!-- MORE DETAILS MODAL -->
              <div style="transition: none;" class="collapse" id="collapseExample{{appl.aplcnt}}">
                <div class="card card-body">
                  <div style="text-align: left;">
                    <b>Matched Skills:</b> {{appl.matched_skills}}
                    <br>
                    <b>Missed Skills:</b> {{appl.not_matched_skills}}
                    <br>
                    <b>Experience:</b> {{appl.experience}}
                  </div>
                </div>
              </div>
              <!-- __________________ -->
              <br>
              {% endfor %}
            </div>

            <!-- _____ ACCEPTED APPLICANTS _____ -->
            <div class="tab-pane text-center gallery Accp" id="accepted">
                 <!--Rank Result-->

              {% for appl in applicants %}
              {% if appl.status == 'Accepted' %}
              <div id="applicantpanal" style="display: inline-block;width: 100%;margin-bottom: 10px;">
                <div class="row" >
                  <a class="link" href="/applicant/profile/{{appl.aplcnt}}">{{appl.aplcnt}}</a> 
                </div>
                
                <input name="{{appl.app_email}}" type="checkbox" >
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{appl.skills_rslt}}" aria-valuemin="0" aria-valuemax="100">
                  </div>              
                </div>
                <div class="app_prop">
                  <small><a href="../../../media/{{appl.resume}}">Download Resume <i class="fas fa-file-download"></i></a></small>
                  |                  
                  <small><a href="/company/send_email/{{appl.aplcnt}}/{{appl.id}}/">send email <i class="fas fa-check-circle"></i></a></small>
                  |                  
                  <small class="rej"><a data-toggle="collapse" href="#collapseExample{{appl.aplcnt}}" role="button" aria-expanded="false" aria-controls="collapseExample">More Details <i class="fas fa-sort-down"></i></a></small>
                </div>
                <small style="margin: 0px 10px;float: right;" >{{appl.skills_rslt}}%</small>
                {% if appl.status == 'Accepted' %}
                <span class="badge badge-pill badge-success" style=" margin-left:40%;" >{{appl.status}}</span>
                {% endif %}
              </div>
              
              <!-- MORE DETAILS MODAL -->
              <div style="transition: none;" class="collapse" id="collapseExample{{appl.aplcnt}}">
                <div class="card card-body">
                  <div style="text-align: left;">
                    <b>Matched Skills:</b> {{appl.matched_skills}}
                    <br>
                    <b>Missed Skills:</b> {{appl.not_matched_skills}}
                    <br>
                    <b>Experience:</b> {{appl.experience}}
                  </div>
                </div>
              </div>
              <!-- __________________ -->
              <br>
              {% endif %}
              {% endfor %}
            </div>
          
            <!-- _____ REJECTED APPLICANTS _____ -->
            <div class="tab-pane text-center gallery rejs" id="rejected">
                              <!--Rank Result-->

              {% for appl in applicants %}
              {% if appl.status == 'Rejected' %}
              <div id="applicantpanal" style="display: inline-block;width: 100%;margin-bottom: 10px;">
                <div class="row" >
                  <a class="link" href="/applicant/profile/{{appl.aplcnt}}">{{appl.aplcnt}}</a> 
                </div>
                

                <input name="{{appl.app_email}}" type="checkbox" >
                <div class="progress">
                  <div class="progress-bar" role="progressbar" aria-valuenow="{{appl.skills_rslt}}" aria-valuemin="0" aria-valuemax="100">
                  </div>              
                </div>
                <div class="app_prop">
                  <small><a href="../../../media/{{appl.resume}}">Download Resume <i class="fas fa-file-download"></i></a></small>
                  |                  
                  <small><a href="/company/send_email/{{appl.aplcnt}}/{{appl.id}}/">send email <i class="fas fa-check-circle"></i></a></small>
                  |                                  
                  <small class="rej"><a data-toggle="collapse" href="#collapseExample{{appl.aplcnt}}" role="button" aria-expanded="false" aria-controls="collapseExample">More Details <i class="fas fa-sort-down"></i></a></small>
                </div>
                <small style="margin: 0px 10px;float: right;" >{{appl.skills_rslt}}%</small>
                {% if appl.status == 'Rejected' %}
                <span class="badge badge-pill badge-danger" style=" margin-left:40%;" >{{appl.status}}</span>
                {% endif %}
              </div>
              
              <!-- MORE DETAILS MODAL -->
              <div style="transition: none;" class="collapse" id="collapseExample{{appl.aplcnt}}">
                <div class="card card-body">
                  <div style="text-align: left;">
                    <b>Matched Skills:</b> {{appl.matched_skills}}
                    <br>
                    <b>Missed Skills:</b> {{appl.not_matched_skills}}
                    <br>
                    <b>Experience:</b> {{appl.experience}}
                  </div>
                </div>
              </div>
              <!-- __________________ -->
              <br>
              {% endif %}
              {% endfor %}
            </div>
                               <!-- ___-------__ interview __-------___ -->
            <!--################## end interview ############################-->
          </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal Control Job -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{job.jobtitle}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      {%if job.status == 'closed'%}
      <form method="POST" action="/company/status_open/{{job.id}}">
        {% csrf_token %}
      <div class="modal-body" id="contentmessage">
          <label>Please select the date to close this post </label>
          <input type="date" name="deadline" id="deadline">
      </div>
      <div class="modal-footer">
        <button id="Soo" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-primary" id="action" style="color: white;">OK</button>
      </div>
     </form>

      {% else %}
      <div class="modal-body" id="contentmessage">
        <label> Are you sure to close this post ?</label>
      </div>
      <div class="modal-footer">
        <button id="Soo" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <a href="/company/status/{{job.id}}" id="action" type="button" class="btn btn-primary" style="color: white;">OK</a>
      </div>
      {% endif %}
    </div>
  </div>
</div>

<!-- _________________________ INTERVIEW TIME ______________________________ -->
<!-- Modal -->
<div class="modal fade" id="exampleModalINTER" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Job Interview</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
                
        <div class="text-center">
          <form method="post" style="padding: 15px;"  enctype="multipart/form-data">{% csrf_token %}
            
            <div class="form-group">
              <label for="inputText">username</label>
              <select name = "username" id="inputText" class="form-control">
                {% for sc in schudle_user %}
                <option value = {{sc.aplcnt}}  selected>
                  {{sc.aplcnt}}
                </option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="inputText">jobname</label>
              <select name = "jobname" id="inputText" class="form-control">
                
                <option value = {{job.jobtitle}}  selected>
                  {{job.jobtitle}}
                </option>
                
              </select>
            </div>
          
            
              <div class="form-group">
                <label for="example-date-input" >Date</label>
                <input name = "date_schdule" class="form-control" type="date"  id="example-date-input">
              </div>
              <div class="form-group">
                <label for="example-time-input" class="col-2 col-form-label">Time</label>
                  <input name = "time_schdule" class="form-control" type="time"  id="example-time-input">
              </div>
            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
          
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
    </div>
  </div>
</div>
<button onclick="getselect()" hidden>get select</button>


<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script>
  var selected = [];
  function getselect(){
    selected = []
    if($("#tap1").hasClass("active")){
      selected = []
      $(".applicants_emails").val('')
      $('#studio input:checked').each(function() {
        if($("#applicantpanal").is(":visible")){
          selected.push($(this).attr('name'));
        }
      });
      var emails = null
      if(selected.length != 0){
        emails = String(selected) + ","
      }else{emails=null}
      $(".applicants_emails").val(emails)
    }
    else if ($("#tap2").hasClass("active")){
      selected = []
      $('#accepted input:checked').each(function() {
      selected.push($(this).attr('name'));
      });
    }
    else if ($("#tap3").hasClass("active")){
      selected = []
      $('#rejected input:checked').each(function() {
      selected.push($(this).attr('name'));
      });
    }

    console.log("emails:: ",selected);
  }

  $('#acc_form').submit(function(){
    getselect()
    return true;
  });
  $('#rej_form').submit(function(){
    getselect()
    return true;
  });

  $(document).ready(function() {
    $("#selectAll").click(function() {
      $("input[type=checkbox]").prop("checked", $(this).prop("checked"));
    });

    $("input[type=checkbox]").click(function() {
        if (!$(this).prop("checked")) {
            $("#selectAll").prop("checked", false);
        }
    });
    
    
    $("input[type=checkbox]").click(function(){
      if($("input[type=checkbox]:checked").length > 0){
        $("#btn-acc").prop("disabled", false);
        $("#btn-rej").prop("disabled", false);
      }else{
        $("#btn-acc").prop("disabled", true);
        $("#btn-rej").prop("disabled", true);
      }
      
    });

    /**************************************************/
    //progress bar
    $('.progress .progress-bar').css("width",
        function() {
            var ex = parseInt($(this).attr("aria-valuenow"))
            return $(this).attr("aria-valuenow") + "%";
        }
      )
    
    var al=isdivempty('.all' ,'no one apply to this job')
    var pd=isdivempty('.Pnd','no pending applicants')
    var ac=isdivempty('.Accp','no accepted applicants')
    var rj=isdivempty('.rejs','no rejected applicants')
    
    $('.alnum').text(''+al+'')
    $('.pend').text(''+pd+'')
    $('.acnum').text(''+ac+'')
    $('.rjnum').text(''+rj+'')
    
  });

  function ProgRange(){
    var range = parseInt($("#rangebox").val());
    console.log("new:: ",range);
    if(range >= 0 && range <= 100){
      $('.progress .progress-bar').css("width",
        function() {
            var ex = parseInt($(this).attr("aria-valuenow"))
            if(ex < range){
              $(this).parent().parent().attr("hidden",true)
            }else{
              $(this).parent().parent().attr("hidden",false)
            }
        }
      )
    }
  }

  function isdivempty(divname,message){
    var Applicants = $(''+divname+' .collapse');
    if (Applicants.length == 0 ){
      nocontent = "<p style='text-align:center'> "+message+" </p>"
      $(''+divname+'').append(nocontent);
    }
    return Applicants.length;
  }
  $(function(){
    $('#mess').delay(4000).fadeOut('fast')
  });
  
</script>
<script>

  $(document).on("click","#delete",function(){
    $('#exampleModalLabel').css('color','red').text('Delete \"{{job.jobtitle}}\" Job !!');
    $('#contentmessage').text('Are you sure to Delete this job ?');
    $('#action').attr('href','/company/delete/{{job.id}}');
  });
  
  $(function() {
    /* Rounded Dark */
    $("#content-2").mCustomScrollbar({
      theme: "rounded-dark"
    });
  });

  var today = new Date();
	var dd = today.getDate();
	var mm = today.getMonth()+1; //January is 0!
	var yyyy = today.getFullYear();
	if(dd<10){
			dd='0'+dd
		} 
		if(mm<10){
			mm='0'+mm
		} 

	today = yyyy+'-'+mm+'-'+dd;
	document.getElementById("deadline").setAttribute("min", today);
</script>
<script>
  function runScript() {
    $.ajax({
        url: 'send_email', //The URL you defined in urls.py
        success: function(data) {
          
        }

    });
}
</script>
{% endblock content %}