{% extends 'base.html'%}
{% load static %}

{% block content%}
<style type="text/css">
.show_list{
  border: 1px solid green;
  width: 100%;
	    max-width: 100%;
	    padding: 15px;
      margin: auto;
      
}
box
{
  border: 2px solid rgb(12, 136, 12);
}

#part1
{
  width: 50%;
  float: left;
}

#part3
{
  width: 50%;
  float: right;
  text-align: right;
}
.submit-button{
      max-width: 400px;
      text-align: center;
      
   
  	}



</style>
<div class="box">
<div style="height: 160px;" ></div>
            
    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mb-5 mb-md-0" data-aos="fade-up" data-aos-delay="100">
            <h2 class="mb-5 h3">Recent Jobs</h2>
            <div class="rounded border jobs-wrap">
            {% for post in posts %}
              <a href="job-single.html" class="job-item d-block d-md-flex align-items-center  border-bottom fulltime">
                <div class="company-logo blank-logo text-center text-md-left pl-3">
                  <img src="images/company_logo_blank.png" alt="Image" class="img-fluid mx-auto">
                </div>
                <div class="job-details h-100">
                  <div class="p-3 align-self-center">
                    <h3>{% if post.jobtitle %}
                                      {{post.jobtitle}}
                                {% else %}
                                       {{post.jobtitle}}
                                {% endif %}</h3>
                    <div class="d-block d-lg-flex">
                      <div class="mr-3"><span class="icon-suitcase mr-1"></span>
                      
                      {% if post.careerlevel %}
                                      {{post.careerlevel}}
                                {% else %}
                                       {{post.careerlevel}}
                                {% endif %}
                      </div>
                      <div class="mr-3"><span class="icon-room mr-1"></span> 
                      {% if post.joblocation %}
                                      {{post.joblocation}}
                                {% else %}
                                       {{post.joblocation}}
                                {% endif %}
                      </div>
                      <div><span class="icon-money mr-1"></span> 
                      {% if post.salary_range %}
                                      {{post.salary_range}}
                                {% else %}
                                       {{post.salary_range}}
                                {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="job-category align-self-center">
                  <div class="p-3">
                    <span class="text-info p-2 rounded border border-info">
                                {% if post.jobtype %}
                                      {{post.jobtype}}
                                {% else %}
                                       {{post.jobtype}}
                                {% endif %}
                          </span>
                  </div>
                </div>  
              </a>
              {% empty %}
                <li class="list-group-item ">no jobs added</li>
            {% endfor %}
</div>
{% endblock%}