{% extends 'base.html'%}
{% load static %}

{% block content%}
<div class="site-section bg-light">
  <div class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}}" style="text-align:center" id="mess">
            {{message}}
        </div>
      {% endfor %}
    {% endif %}
    <div class="row">
      <div class="col-md-8 mb-5 mb-md-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <h2 class="mb-5 h3">Recent Jobs</h2>
        <div class="rounded border jobs-wrap">
          {% for post in posts %} 
          <a href="/company/details/{{post.id}}" id="jobhead" class="job-item d-block d-md-flex align-items-center  border-bottom fulltime">
            <div class="company-logo blank-logo text-center text-md-left pl-3">
              <img src="images/company_logo_blank.png" alt="Image" class="img-fluid mx-auto">
            </div>
            <div class="job-details h-100">
              <div class="p-3 align-self-center">
                <h3>
                  {% if post.jobtitle %}
                    {{post.jobtitle}}
                  {% else %}
                    {{post.jobtitle}}
                  {% endif %}
                </h3>
                <div class="d-block d-lg-flex">
                  <div class="mr-3"><span class="icon-suitcase mr-1"></span>
                    {% if post.careerlevel %}
                      {{post.careerlevel}}
                    {% else %}
                      {{post.careerlevel}}
                    {% endif %}
                  </div>
                  <div class="mr-3"><span class="icon-room mr-1"></span>
                    {% if post.joblocation %}
                      {{post.joblocation}}
                    {% else %}
                      {{post.joblocation}}
                    {% endif %}
                  </div>
                  <div><span class="icon-money mr-1"></span>
                     $
                    {% if post.salary_range1 %}
                        {{post.salary_range1}} 
                    {% else %}
                      {{post.salary_range1}}
                    {% endif %} — 
                    {% if post.salary_range2 %}
                      {{post.salary_range2}} 
                    {% else %}
                      {{post.salary_rang2}}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            <div class="job-category align-self-center">
              <div class="p-3">
                <span class="text-info p-2 rounded border border-info">
                  <script></script>
                  {% if post.status %}
                    {{post.status}}
                  {% else %}
                    {{post.status}}
                  {% endif %}
                </span>
              </div>
            </div> 
          </a>
          {% empty %}
                <li class="list-group-item ">no jobs added</li>
          {% endfor %}
        </div>
        <div class="col-md-12 text-center mt-5">
          <a href="#" class="btn btn-primary rounded py-3 px-5"><span class="icon-plus-circle"></span> Show More Jobs</a>
        </div>
      </div>
      <div class="col-md-4 block-16 aos-init aos-animate" data-aos="fade-up" data-aos-delay="200">
        <div class="d-flex mb-0">
          <h2 class="mb-5 h3 mb-0">Featured Jobs</h2>
        </div>
        <div class="nonloop-block-16 owl-carousel owl-loaded owl-drag">
          <div class="owl-stage-outer owl-height" style="height: 494.4px;">
              <div class="owl-item cloned" style="width: 349.983px; margin-right: 20px;">
                <div class="border rounded p-4 bg-white">
              <h2 class="h5">Assistant Brooker (TEST)</h2>
              <p><span class="border border-warning rounded p-1 px-2 text-warning">Freelance</span></p>
              <p>
                <span class="d-block"><span class="icon-suitcase"></span> Resto Bar</span>
                <span class="d-block"><span class="icon-room"></span> Florida</span>
                <span class="d-block"><span class="icon-money mr-1"></span> $55000 — 70000</span>
              </p>
              <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus esse, quam consectetur ipsum quibusdam ullam ab nesciunt, doloribus voluptatum neque iure perspiciatis vel vero illo consequatur facilis, fuga nobis corporis.</p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(function(){
    $('#mess').delay(4000).fadeOut('fast')
  })
  
</script>

{% comment %} 
<style type="text/css">
.show_list{
  border: 1px solid green;
  width: 100%;
	    max-width: 100%;
	    padding: 15px;
      margin: auto;
      
}
box
{
  border: 2px solid rgb(12, 136, 12);
}

#part1
{
  width: 50%;
  float: left;
}

#part3
{
  background-color: white;
  float: right;
  text-align: right;
}
.submit-button{
      max-width: 400px;
      text-align: center;
      
   
  	}



</style>
  <div class="box">
  <div style="height: 80px;" ></div>
            
    <div class="site-section bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-8 mb-5 mb-md-0" data-aos="fade-up" data-aos-delay="100">
            <h2 class="mb-5 h3">Recent Jobs</h2>
            <div class="rounded border jobs-wrap">
            {% for post in posts %}
           
              
              <a href="/company/details/{{post.id}}" class="job-item d-block d-md-flex align-items-center  border-bottom fulltime">
                <div class="company-logo blank-logo text-center text-md-left pl-3">
                  <img src="images/company_logo_blank.png" alt="Image" class="img-fluid mx-auto">
                </div>
                <div class="job-details h-100">
                  <div class="p-3 align-self-center">
                    <h3>{% if post.jobtitle %}
                                      {{post.jobtitle}}
                                {% else %}
                                       {{post.jobtitle}}
                                {% endif %}</h3>
                    <div class="d-block d-lg-flex">
                      <div class="mr-3"><span class="icon-suitcase mr-1"></span>
                      
                      {% if post.careerlevel %}
                                      {{post.careerlevel}}
                                {% else %}
                                       {{post.careerlevel}}
                                {% endif %}
                      </div>
                      <div class="mr-3"><span class="icon-room mr-1"></span> 
                      {% if post.joblocation %}
                                      {{post.joblocation}}
                                {% else %}
                                       {{post.joblocation}}
                                {% endif %}
                      </div>

                      <div><span class="icon-money mr-1"></span> 
                        <div class="input-group">
                      {% if post.salary_range1 %}
                                      {{post.salary_range1}} 
                                {% else %}
                                       {{post.salary_range1}}
                                {% endif %}
                       <p>  --> </p>         
                       {% if post.salary_range2 %}
                                      {{post.salary_range2}} 
                                {% else %}
                                       {{post.salary_rang2}}
                                {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="job-category align-self-center">
                  <div class="p-3">
                    <span class="text-info p-2 rounded border border-info">
                                {% if post.status %}
                                      {{post.status}}
                                {% else %}
                                       {{post.status}}
                                {% endif %}
                          </span>
                  </div>
                </div>  
              </a>
              {% empty %}
                <li class="list-group-item ">no jobs added</li>
            {% endfor %}
</div> 
{% endcomment %}
{% endblock%}