
{% extends 'base.html'%}
{% load static %}

{% block content%}

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

<div class="container" style="margin-top:50px;">


{% for n in notification  %}
 
    <div class="toast" data-autohide="false">
      <div class="toast-header">
        <strong class="mr-auto text-primary">{{n.verb}} </strong>
        <!--<small class="text-muted">5 mins ago</small>-->
        <button type="button" class="ml-2 mb-1 close" data-dismiss="toast">&times;</button>
      </div>
      <div class="toast-body">
        {% if n.description %}
         {{n.description}} 
        {% else %}     
        <p></p>
        {% endif %} </div>
    </div>
    {% empty %}
       <p> No notification to show</p>
{% endfor %}

</div>
<script>
    $(document).ready(function(){
      $('.toast').toast('show');
    });
    </script>
    
{% endblock %}