

{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
<link rel="stylesheet" href="//unpkg.com/bootstrap-select-country@4.0.0/dist/css/bootstrap-select-country.min.css" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/css/select2.min.css" />

<style>

	h5 {
	font-size: 15px;
	margin-top: 25px;
	color:gray;
	}
	.card
	 {
	width:500px;
	margin-top: 60px;
	margin-left:350px; 
	margin-bottom: 30px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}
	select 
	{
	width:455px;
	height: 30px;
	}
	.selectpicker {
	width: 455px;
	}
	.select2
	{
		color:green
	}
  </style>


<div class="container" >
	<div class="row">
<form class="create-form" method="post" enctype="multipart/form-data">{% csrf_token %}
	<div class="card" >
    <div class="card-body">
	  <!--Form Header-->
	  
      <div class="input-group" style="margin-top: 5px;">
		<i class='fas fa-info-circle' style='font-size:30px; color:green; margin-top: 6px;'></i>
		<h2 class="card-title" style="padding-left: 5px;"> Job Info</h2>
      </div>

		<!--job title-->
		<h5>Title:</h5>
		<input type="text"  name="jobtitle"  id="title" class="form-control form-control-sm" required  style="height: 30px;" />

	   	<!-- job_description -->
	   <h5 >Job Description:</h5>
	   <input type="text"  name="job_description" id="title" class="form-control form-control-sm" required  style="height: 30px;"  />
   
		<!-- job location  -->
		<h5>Location:</h5>
		<select  name="joblocation" class="selectpicker countrypicker" data-width="100%" data-flag="true" required></select>

		<!-- city -->
		<h5>City:</h5>
		<input type="text" name="city" id="id_location" class="form-control"  required style="height: 30px;"  placeholder="ex : cairo,alexandria,giza...etc,"  autofocus>
				
				
		<!-- Area -->
		<h5>Area:</h5>
		<input type="text" name="Area" id="id_Area" class="form-control"  required style="height: 30px;"  placeholder="Area"  autofocus>
				
				
		<!--Career level-->
		 <h5>Career level:</h5>
		 <select name="careerlevel" id="sell" class="form-control" required style="font-size: 10px; color: gray;" >
			 <option nonactive>Select</option>
			 <option>Student</option>
			 <option>Entry level</option>
			 <option>Experienced (non-manager)</option>
			 <option>Manager</option>
			 <option>Senior Manager</option>
		 </select>
			 
	    <!--Experience-->
		<div class="input-group" >
  		<h5 margin-top: 20px;>Years Of Experience:</h5>
		<i class='fas fa-question-circle' style='font-size:20px; margin-top:23px; margin-left:10px; color:green'></i>
		</div>
		<input type="number" id="Experience"  name="year_of_experience" class="form-control form-control-sm" min="0" required placeholder="e.g. 1, 2 "  style="height: 30px;" />

	    <!--Salary Range-->
		<h5>Salary Range :</h5>
		<input type ="number" name="salary_range1" id="salary1" min="0" required placeholder=" e.g. 1000 " style="height:30px;"/> up to <input type="number" name="salary_range2" id="salary2" min ="salary1.value" required placeholder=" e.g. 2000" style="height:30px;"/>

		<!--vacancies-->
		<div class="input-group">
		<h5>Number of vacancies:</h5>
		<i class='fas fa-question-circle' style='font-size:20px; margin-top:23px; margin-left:10px; color:green'></i>
    	</div>
		<input type="number" name="num_vacancies" id="vacancies" class="form-control form-control-sm" min="1" required style="height: 30px;" placeholder="e.g. 1, 2 (minimum 1)" />
		
		<!--Job Type-->
		<h5>Job Type:</h5>
		 <!-- 
        <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" style="background-color: white; color:gray ; width: 455px;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          Select <span class="caret"></span>
         </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" style="width: 450px; padding-left: 20px;">
          <li><a href="#" data-value="action">Full Time</a></li>
          <li><a href="#" data-value="another action">Part Time</a></li>
          <li><a href="#" data-value="something else here">Freelance / Project</a></li>
          <li><a href="#" data-value="something else here">Work From Home</a></li>
          <li><a href="#" data-value="something else here">Volunteering</a></li>
        </ul>
        </div>
    -->
		<select name="jobtype" id="sell2" class="form-control" required style="margin-bottom: 0px;">
			<option >Select</option>
			<option>Full Time</option>
			<option>Part Time</option>
			<option>Freelance / Project</option>
			<option>Work From Home</option>
			<option>Volunteering</option>
		 </select>
					
			
		<!--job Role-->
		<h5>Job Role:</h5>
		<select name="rolejob" id="Role" class="selectpicker" data-width="100%"  multiple required data-live-search="true"   style="width:auto; ">
			{% for job in jobs %}
			<option >{{ job.name }}</option>
			{% endfor %}
		<!--  <option>Mustard</option>
		  <option>Ketchup</option>
		  <option>Relish</option> -->
		</select> 

		<!-- related industry -->
		<h5>related industry:</h5>
     	<select name="related_industry"  id="Role" class="selectpicker" data-width="100%"  multiple required data-live-search="true"  placeholder="Select">
			{% for industry in industries %}
			<option >{{ industry.name }}</option>
			{% endfor %}

			 <!--<option>Business</option>
			<option>Accounting</option>-->
	    </select> 
				
	
		 <!-- skills -->
		<h5>Skills:</h5>
		<!-- <select  name="skills" multiple data-width="100%" data-live-search="true"  id="Role" placeholder="Select">
		    <option>Communication skills</option>
			<option>LeaderShip skiils</option>
			<option>presentation skills</option>
			<option>LeaderShip skills</option>
		</select> <br> -->
		
		<select name="skills" class="form-control select2" id="select2"  multiple="multiple" required style="width: 100%;height:30px;">
			{% for skill in skills %}
			<option >{{ skill.name }}</option>
			{% endfor %}

		</select>

		<!--Deadline-->
		<div class="input-group" style="margin-bottom: 0px;padding-bottom: 0px;"><h5>Deadline</h5> <p style="font-size:13px ; padding-top: 23px; padding-left: 3px;">(select the time to close you post)</p> </div>
        <input name ="deadline" type="date"  required style="width:100%; height:30px"/>

		<!--Deadline
		<div class="input-group" style="margin-bottom: 0px;padding-bottom: 0px;"><h5>Deadline</h5> <p style="font-size:13px ; padding-top: 23px; padding-left: 3px;">(select the time to close you post)</p> </div>
		<input type="datetime" name="deadline" require style="width: 100%; color: green; padding-left: 3px;">
	-->

		<button class="btn btn-success" style="font-size: 20px; width:100px ;margin:30px; margin-left:170px ;">Save Change</button>

		</div><!--End of Card  Body -->
	</div>   <!--End of first part of form (Card)-->
	     	<br>
	</form>
  </div>
</div>	

<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
<script src="//unpkg.com/bootstrap-select-country@4.0.0/dist/js/bootstrap-select-country.min.js"></script> 
<script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.5/js/select2.full.min.js"></script>


<script>


$(function () {
    $('select').selectpicker();});

//For skills input 
$('.select2').select2({
         //   data: ["Communication", "LeaderShip", "presentation"],
            tags: true,
            maximumSelectionLength: 10,
            tokenSeparators: [',', ' '],
            placeholder: " Select or type keywords",
});


 /*$(function () {
     $('#datetimepicker5').datetimepicker(
		 {
			format: 'YYYY/MM/DD HH:mm:ss',
		 });
    });*/
//$('.countrypicker').countrypicker();

</script>			
{% endblock content %}
			
             
        
