{% extends 'base.html'%}
{%block content%}
<div style="height: 113px;"></div>

    <div class="site-blocks-cover overlay" style="background-image: url(../../../static/jobinza/images/hero_1.jpg);" data-aos="fade" data-stellar-background-ratio="0.5">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-12" data-aos="fade">
            <h1>Find Job</h1>
            <form action="#">
              <div class="row mb-3">
                <div class="col-md-9">
                  <div class="row">
                    <div class="col-md-6 mb-3 mb-md-0">
                      <input type="text" class="mr-3 form-control border-0 px-4" placeholder="job title, keywords or company name ">
                    </div>
                    <div class="col-md-6 mb-3 mb-md-0">
                      <div class="input-wrap">
                        <span class="icon icon-room"></span>
                      <input type="text" class="form-control form-control-block search-input  border-0 px-4" id="autocomplete" placeholder="city, province or region" onFocus="geolocate()">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <input type="submit" class="btn btn-search btn-primary btn-block" value="Search">
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <p class="small">or browse by category: <a href="#" class="category">Category #1</a> <a href="#" class="category">Category #2</a></p>
                </div>
              </div>
              
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="site-section">
        <div class="container">
          <div class="row">
            <div class="col-md-6 mx-auto text-center mb-5 section-heading">
              <h2 class="mb-5">Popular Categories</h2>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="100">
              <a href="#" class="h-100 feature-item">
                <span class="d-block icon flaticon-calculator mb-3 text-primary"></span>
                <h2>Accounting / Finanace</h2>
                <span class="counting">10,391</span>
              </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="200">
              <a href="#" class="h-100 feature-item">
                <span class="d-block icon flaticon-wrench mb-3 text-primary"></span>
                <h2>Automotive Jobs</h2>
                <span class="counting">192</span>
              </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="300">
              <a href="#" class="h-100 feature-item">
                <span class="d-block icon flaticon-worker mb-3 text-primary"></span>
                <h2>Construction / Facilities</h2>
                <span class="counting">1,021</span>
              </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="400">
              <a href="#" class="h-100 feature-item">
                <span class="d-block icon flaticon-telecommunications mb-3 text-primary"></span>
                <h2>Telecommunications</h2>
                <span class="counting">1,219</span>
              </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="500">
              <a href="#" class="h-100 feature-item">
                <span class="d-block icon flaticon-stethoscope mb-3 text-primary"></span>
                <h2>Healthcare</h2>
                <span class="counting">482</span>
              </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="600">
              <a href="#" class="h-100 feature-item">
                <span class="d-block icon flaticon-computer-graphic mb-3 text-primary"></span>
                <h2>Design, Art &amp; Multimedia</h2>
                <span class="counting">5,409</span>
              </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="700">
              <a href="#" class="h-100 feature-item">
                <span class="d-block icon flaticon-trolley mb-3 text-primary"></span>
                <h2>Transportation &amp; Logistics</h2>
                <span class="counting">291</span>
              </a>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="800">
              <a href="#" class="h-100 feature-item">
                <span class="d-block icon flaticon-restaurant mb-3 text-primary"></span>
                <h2>Restaurant / Food Service</h2>
                <span class="counting">329</span>
              </a>
            </div>
          </div>
  
        </div>
      </div>
      <div class="site-section bg-light">
        <div class="container">
          {% if messages %}
            {% for message in messages %}
              <div class="alert alert-{{message.tags}}" style="text-align:center" id="mess">
                  {{message}}
              </div>
            {% endfor %}
          {% endif %}
          <div class="row">
            <div class="col-md-8 mb-5 mb-md-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
              <label class="mb-5 h2" >Recent Jobs</label>
             
                
                
      
             
              <div class="rounded border jobs-wrap">
                {% for post in posts %} 
                {% if forloop.counter < 5 %}

                <a href="{% url 'login' %}" id="jobhead" class="job-item d-block d-md-flex align-items-center  border-bottom fulltime">
                  <div class="company-logo blank-logo text-center text-md-left pl-3">
                    <img src="images/company_logo_blank.png" alt="Image" class="img-fluid mx-auto">
                  </div>
                  <div class="job-details h-100">
                    <div class="p-3 align-self-center">
                      <div class="row">
                        <h3 style="padding-top: 4px;">
                          {% if post.jobtitle %}
                            {{post.jobtitle}}
                          {% else %}
                            {{post.jobtitle}}
                          {% endif %}
                        </h3>
                        {% for user in users%}
                        {% if post.author_id == user.id%}
                        <p><span class="border border-warning rounded p-1 px-2 text-warning" style="font-size: 12px;margin-left: 9px;">@ {{user.username}}</span></p>
                        {%else%} <div></div>
                        {%endif%}
                        {% endfor %}
                      </div>

                      <div class="d-block d-lg-flex">
                        <div class="mr-3"><span class="icon-suitcase mr-1"></span>
                          {% if post.careerlevel %}
                            {{post.careerlevel}}
                          {% else %}
                            {{post.careerlevel}}
                          {% endif %}
                        </div>
                        <div ><span class="" >, </span>
                          {% if post.jobtype %}
                          {{post.jobtype}}
                        {% else %}
                          {{post.jobtype}}
                        {% endif %}
                        </div>
                        <div class="mr-3" style="margin-left:10px"><span class="icon-room mr-1"></span>
                          {% if post.joblocation %}
                            {{post.joblocation}}
                          {% else %}
                            {{post.joblocation}}
                          {% endif %}
                        </div>
                        <div><span class=""></span>
                          {% if post.status == 'publishing' %}
                              Deadline :{{post.deadline}} 
                          {% else %}
                            <div></div>
                       {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="job-category align-self-center">
                    <div class="p-3">
                      {% if post.status == 'Publishing' %}
                <button type="button" class="btn btn-outline-info " onclick=""> Apply Now</button>
                {% else %}
                <p  style="text-align: center;"
               class="border border-danger rounded p-1 px-2 text-danger" >Closed </p>
                {% endif %}
                    </div>
                  </div> 
                </a>
                {% else %} <div></div>
                {% endif %}
                {% empty %}
                      <li class="list-group-item ">no jobs added</li>
                {% endfor %}
              </div>
           
              <div class="col-md-12 text-center mt-5">
                <a href="#" class="btn btn-primary rounded py-3 px-5"><span class="icon-plus-circle"></span> Show More Jobs</a>
              </div>
            </div>
  <!-- 
          <div class="col-md-4 block-16" data-aos="fade-up" data-aos-delay="150">
            <div class="d-flex mb-0">
              <h2 class="mb-5 h3 mb-0">Featured Jobs</h2>
              <div class="ml-auto mt-1"><a href="#" class="owl-custom-prev">Prev</a> / <a href="#" class="owl-custom-next">Next</a></div>
            </div>
      
            <div class="nonloop-block-16 owl-carousel">
                {% for post in posts %}
                {% if forloop.counter < 7 %}
              <div class="border rounded p-4 bg-white">
                <h2 class="h5">{{post.jobtitle}} </h2> 
                {% for user in users%}
                {% if post.author_id == user.id %}
                  <p><span class="border border-warning rounded p-1 px-2 text-warning" style="font-size: 12px;margin-left: 9px;">@ {{user.username}}</span></p>
                {% else %} <a></a>
                {% endif %}
                {% endfor %}
                <p>
                  <span class="d-block"><span class="icon-room"></span>  {{post.joblocation}} , {{post.city}} , {{post.Area}}</span>
                  <span class="d-block"><span class="icon-money mr-1"></span> {{post.salary_range1}} &mdash; {{post.salary_range2}}</span>
                </p>
                <p class="mb-0">We are hiring a {{post.job_description}} with : <br> - {{post.year_of_experience}} years Experience
                <br> - {{post.skills_id}} skills </p>

                <a href="/company/details/{{post.id}}" class="text-danger" style="text-decoration: underline; margin-left:40%; padding-top: 15px;">More details</a>
              
              {% else %}<p></p>
              {% endif %}
              {% endfor %}
            </div> -->
      
            </div>
          </div>
        </div>
      </div>
      <script>
        $(function(){
          $('#mess').delay(4000).fadeOut('fast')
        })
        
      </script>
  


{%endblock content%}