{% extends 'base.html'%}
{% load static %}

{% block content%}
<style>
  .owl-dots{
    display:none
  }
</style>
<div class="site-section bg-light" style="margin-top: -50px;">
  <div class="container">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{message.tags}}" style="text-align:center" id="mess">
            {{message}}
        </div>
      {% endfor %}
    {% endif %}
    <div class="row">
      <div class="col-md-8 mb-5 mb-md-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
        <h2 class="mb-5 h3">Recent Jobs</h2>
          
        <div class="rounded border jobs-wrap">
          {% for post in posts %} 
          <a href="/applicant/details/{{post.id}}" id="jobhead" class="job-item d-block d-md-flex align-items-center  border-bottom fulltime">
            <div class="company-logo blank-logo text-center text-md-left pl-3">
              <img src="{% static 'jobinza/images/img_1.jpg' %}" alt="Image" class="img-fluid mx-auto">
            </div>
            <div class="job-details h-100">
              <div class="p-3 align-self-center">

                <div class="row">
                <h3 style="padding-top: 4px;">
                  {% if post.jobtitle %}
                    {{post.jobtitle}}
                  {% else %}
                    {{post.jobtitle}}
                  {% endif %}
                </h3>
                {% for user in users%}
                {% if post.author_id == user.id%}
                <p><span class="border border-warning rounded p-1 px-2 text-warning" style="font-size: 12px;margin-left: 9px;">@ {{user.username}}</span></p>
                {%else%} <div></div>
                {%endif%}
                {% endfor %}
              </div>
                <div class="d-block d-lg-flex">
                  <div class="mr-3"><span class="icon-suitcase mr-1"></span>
                    {% if post.careerlevel %}
                    {{post.careerlevel}} 
                {% else %}
                  {{post.careerlevel}}
                {% endif %} 
                    
                  </div>

                  <div><i class="fas fa-clock mr-1"></i>
                    {% if post.jobtype %}
                    {{post.jobtype}}
                  {% else %}
                    {{post.jobtype}}
                  {% endif %}
                  </div>
                   <div class="mr-3" style="margin-left:5px"><i class="fas fa-map-marker-alt"></i>
                    {% if post.joblocation %}
                      {{post.joblocation}}
                    {% else %}
                      {{post.joblocation}}
                    {% endif %}
                  </div> 
                  

                </div>
              </div>
            </div>
            <div class="job-category align-self-center">
              <div class="p-3">
                {% if post.status == 'Publishing' %}
                <button type="button" class="btn btn-outline-info " >More Details</button>
                {% else %}
                <p  style="text-align: center;"
               class="border border-danger rounded p-1 px-2 text-danger" >Closed </p>
                {% endif %}
              </div>
            </div>  
          </a>
     

          {% empty %}
                <li class="list-group-item ">no jobs added</li>
  
          {% endfor %}
        </div>
        <br>
        <nav class='d-flex justify-content-center' aria-label="Page navigation example">
          <ul class="pagination justify-content-end">
            <li class="page-item">
              {% if posts.has_previous %}
              <a class= "page-link" href ="?page={{ posts.previous_page_number }}">Previous</a>
              <!--<a class="page-link" href="?page={{ posts.paginator.num_pages }}"> Previous </a>-->
              {% endif %}
            </li>
            {% for num in posts.paginator.page_range %}
              {% if posts.number == num %}
              <a class="page-link" href="?page={{ num }}" > {{num}} </a>
              {% elif num > posts.number|add:'-3' and num < posts.number|add:'3'%}
            <a class="page-link" href="?page={{ num }}" > {{num}} </a>
            {% elif posts.has_next != True%}
              {% endif %}
            {% endfor %}
  
            <li class="page-item">
              {% if posts.has_next %}
              <!--<a class="page-link" href="?page={{ posts.next_page_number }}">></a>-->
              <a class="page-link" href="?page={{ posts.paginator.num_pages }}">Next</a>
              {%endif%}
            </li>
          </ul>
        </nav>
      </div>
    <div class="col-md-4 block-16" data-aos="fade-up" data-aos-delay="150">
      <div class="d-flex mb-0">
        <h2 class="mb-5 h3 mb-0">Featured Jobs</h2>
        <div class="ml-auto mt-1"><a href="#" class="owl-custom-prev">Prev</a> / <a href="#" class="owl-custom-next">Next</a></div>
      </div>

      <div class="nonloop-block-16 owl-carousel" >
          {% for post in posts %}
        <div class="border rounded p-4 bg-white">
          <h2 class="h5">{{post.jobtitle}} </h2> 
          {% for user in users%}
              {% if post.author_id == user.id %}
            <p><span class="border border-warning rounded p-1 px-2 text-warning" style="font-size: 12px;margin-left: 9px;">@ {{user.username}}</span></p>
             {% else %} <div></div>
             {% endif %}
          {% endfor %}
          <p>
            <span class="d-block"><span class="icon-room"></span>  {{post.joblocation}} , {{post.city}} , {{post.Area}}</span>
            <span class="d-block"><span class="icon-money mr-1"></span> {{post.salary_range1}} &mdash; {{post.salary_range2}}</span>
          </p>
          <p class="mb-0" style="word-wrap: break-word;">We are hiring  an applicant {% comment %}{{post.job_description}}{% endcomment %} with : <br> - {{post.year_of_experience}} years Experience 
          <br> - skills... </p>
          <a href="/applicant/details/{{post.id}}" class="text-danger" style="text-decoration: underline; padding-top: 15px;"><small>More details</small></a>

        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>
<script>
  $(function(){
    $('#mess').delay(4000).fadeOut('fast')
  })
  
</script>

{% endblock%}