{% extends 'base.html' %}
{% block content %}
{% comment %} <div class="card mb-3">
    <img src="../../../static/jobinza/images/mm.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Full Stack Developer</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div> {% endcomment %}

{% comment %} <div style="text-align:center;">
  <table class="table table-striped">
    {% if job is not None %}
      <!-- employee detail information-->
 
                <tr>
                    <td>Title:</td><td>{{ job.jobtitle }}</td>
                </tr>
                <tr>
                    <td>Description:</td><td>{{ job.job_description }}</td>
                </tr>
                <tr>
                    <td>location:</td><td>{{ job.joblocation }}</td>
                </tr>
                <tr>
                    <td>city :</td><td>{{ job.city }}</td>
                </tr>
                <tr>
                  <td>Area:</td><td>{{ job.Area }}</td>
              </tr>
              <tr>
                <td>careerlevel:</td><td>{{ job.careerlevel }}</td>
              </tr>
              <tr>
                <td>year Of Experience:</td><td>{{ job.year_of_experience }}</td>
              </tr>
              <tr>
                <td>Salary start-from:</td><td>{{ job.salary_range1 }}</td>
              </tr>
              <tr>
                <td>Salary-up to:</td><td>{{ job.salary_range2}}</td>
              </tr>
              <tr>
                <td>Num Of vacancies:</td><td>{{ job.num_vacancies }}</td>
              </tr>
              <tr>
                <td> Job Role:</td><td>{{ job.rolejob_id}}</td>
              </tr>
              <tr>
                <td>Related Industry:</td><td>{{ job.related_industry_id }}</td>
              </tr>
              <tr>
                <td>Job Type:</td><td>{{ job.jobtype}}</td>
              </tr>
              
                <tr>
                    <td>skills:</td><td>{{ job.skills_id }}</td>
                </tr>
                <tr>
                  <td>Deadline:</td><td>{{ job.deadline }}</td>
              </tr>
              <tr>
                <td>status:</td><td>{{ job.status }}</td>
            </tr>
            <tr>
              <td>Published In:</td><td>{{ job.date_published }}</td>
          </tr>
    {% else %}
        <tr>
            <td>
                No employee data returned.
            </td>
        </tr>
    {% endif %}
            </table>

    <button type="button" class="btn btn-success btn-lg">Apply request</button>
</div> {% endcomment %}

<div class="site-section bg-light">
      <div class="container">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{message.tags}}" style="text-align:center" id="mess">
                {{message}}
            </div>
          {% endfor %}
        {% endif %}
        {% if job is not None %}
        <div class="row">
          <div class="col-md-12 col-lg-8 mb-5">
            <div class="border rounded p-5 bg-white">

              <div class="mb-4 mb-md-5 mr-5">
               <div class="job-post-item-header d-flex align-items-center">
                 <h2 class="mr-3 text-black h4">{{job.jobtitle}}</h2>
                 <div class="badge-wrap">
                  <span class="border border-warning text-warning py-1 px-3 rounded">{{job.jobtype}}</span>
                 </div>
               </div>
               <div class="job-post-item-body d-block d-md-flex">
                 <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span>{{job.joblocation}}</div>
                 <div><span class="fl-bigmug-line-big104"></span> <span>{{job.city}} , {{job.Area}}</span></div>
               </div>
              </div>
              <p>{{job.job_description}}</p>
              <p><strong>Career level:</strong> {{job.careerlevel}}</p>
              <p><strong>Years Of Experience:</strong> {{job.year_of_experience}}</p>
              <p><strong>Salary Range:</strong> {{job.year_of_experience}}</p>
              <p><strong>Years Of Experience:</strong> ${{job.salary_range1}} - {{job.salary_range2}}</p>
              <p><strong>Number of Vacancies::</strong> {{job.num_vacancies}}</p>
              <p><strong>Job Type:</strong> {{job.jobtype}}</p>
              <p><strong>Job Role:</strong> {{job.rolejob_id}}</p>
              <p><strong>Job Industry:</strong> {{job.related_industry_id}}</p>
              <p><strong>Skills:</strong> {{job.skills_id}}</p>
              <p style="color:red"><strong>Deadline:</strong> {{job.deadline}}</p>
              <!-- <p class="mt-5"><a href="#" class="btn btn-primary  py-2 px-4">Apply Job</a></p> -->
            </div>
          </div>

          <div class="col-lg-4">  
            <div class="border rounded p-4 bg-white mb-3">
              <small>About this company</small>
              <hr>
              <div class="d-flex flex-row mb-3">
                <img style="width: 100px;height: 105px;" src="../../../static/jobinza/images/logo_1.png" alt="Image" class="img-fluid mx-auto">
                <div style="width: 200px;word-wrap: break-word;">
                  <div class="pl-3">
                    <h2 class="h5">Company Name</h2>
                    <p>
                      <span class="d-block" title="main industry"><span class="icon-industry"></span> Resto Bar</span>
                      <span class="d-block" title="location"><span class="icon-room"></span> Location</span>
                    </p>
                  </div>
                </div>
              </div>
              
              
              <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi neque fugit tempora, numquam voluptate veritatis odit id, iste eum culpa alias, ut officiis omnis itaque ad, rem sunt doloremque molestias.</p>
            </div>   
                 
            <div class="border rounded d-flex justify-content-center p-3 mb-3 bg-white">    
              {% if job.status == "Publishing" %}
              <a href="#" style="width: 90%;font-size: 20px;"
               class="btn btn-info  py-2 px-3">Apply For Job</a>
               {% else %}
               <a  style="width: 90%;font-size: 20px;text-align: center;"
               class="border border-danger rounded py-2 px-3 text-danger" >Closed</a>
                {% endif %}
          </div>
          </div>

          
        </div>
        {%endif%}
      </div>
    </div>


{% endblock content %}