{% extends 'base.html' %}
{% block content %}
<div class="card mb-3">
    <img src="../../../static/jobinza/images/mm.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Full Stack Developer</h5>
      <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

<div style="text-align:center;">
    <button type="button" class="btn btn-success btn-lg">Apply request</button>
</div>

<!--
<div class="mb-4 mb-md-5 mr-5">
    <div class="job-post-item-header d-flex align-items-center">
      <h2 class="mr-3 text-black h4">Full Stack Developer</h2>
      <div class="badge-wrap">
       <span class="border border-warning text-warning py-2 px-4 rounded">Freelance</span>
      </div>
    </div>
    <div class="job-post-item-body d-block d-md-flex">
      <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span> <a href="#">New York Times</a></div>
      <div><span class="fl-bigmug-line-big104"></span> <span>New York City, USA</span></div>
    </div>
   </div> -->

{% endblock content %}