{% extends 'base.html' %}
{% load static%}
{% block content %}

<style>
  .file-upload input[type='file'] {
  display: none;
}
.rounded-lg {
  border-radius: 1rem;
}

.custom-file-label.rounded-pill {
  border-radius: 50rem;
}

.custom-file-label.rounded-pill::after {
  border-radius: 0 50rem 50rem 0;
}
.upload:hover{
  cursor: pointer;
}
.uploadRsm{
  height: 55px;
  padding: 10px;
  font-size: 14px;
  line-height: 17px;
}
.uploadRsm a{
  text-decoration: underline;

}
</style>
{% if applynow == True %}
  <script>
    $(document).ready(function(){
      $('#exampleModal').modal('show');
    });
  </script>
{% endif %}

<div class="site-section bg-light">
      <div class="container">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-{{message.tags}}" style="text-align:center" id="mess">
                {{message}}
            </div>
          {% endfor %}
        {% endif %}
        {% if isapplied == True %}
          <div class="alert alert-info" style="text-align:center" id="mess">
            <small>you just sent apply request for this job,
             be patient until you get a response !!</small>
          </div>
          <script>
            $(document).ready(function(){
              $('#applyStatusButton').prop('class', 'btn btn-secondary');
              $('#applyStatusButton').prop('disabled', true);
              $('#applyStatusButton').html("Request is Pending");
            });
          </script>
        {% endif %}
        {% if has_resume == False %}
        <script>
          $(document).ready(function(){
            $('#applyStatusButton').prop('class', 'btn btn-secondary');
            $('#applyStatusButton').prop('disabled', true);
            //$('#applyStatusButton').html("Request is Pending");
          });
        </script>
        {%endif%}
        {% if job is not None %}
        <div class="row">
          <div class="col-md-12 col-lg-8 mb-5">
            <div class="border rounded p-5 bg-white">

              <div class="mb-4 mb-md-5 mr-5">
               <div class="job-post-item-header d-flex align-items-center">
                 <h2 class="mr-3 text-black h4">{{job.jobtitle}}</h2>
                 <div class="badge-wrap">
                  <span class="border border-warning text-warning py-1 px-3 rounded">{{job.category_id}}</span>
                </div>
               </div>
               <div class="job-post-item-body d-block d-md-flex">
                 <div class="mr-3"><span class="fl-bigmug-line-portfolio23"></span>{{job.joblocation}}</div>
                 <div><span class="fl-bigmug-line-big104"></span> <span>{{job.city}} , {{job.Area}}</span></div>
               </div>
              </div>
              <p style="word-wrap: break-word;">{{job.job_description}}</p>
              <p><strong>Career level:</strong> {{job.careerlevel}}</p>
              <p><strong>Years Of Experience:</strong> {{job.year_of_experience}}</p>
              <p><strong>Years Of Experience:</strong> {{job.year_of_experience}}</p>
              <p><strong>Salary Range:</strong> ${{job.salary_range1}} - {{job.salary_range2}}</p>
              <p><strong>Number of Vacancies:</strong> {{job.num_vacancies}}</p>
              <p><strong>Job Type:</strong> {{job.jobtype}}</p>
              <p style="width: fit-content;width: -moz-fit-content;word-wrap: break-word;"><strong>Skills:</strong>
                {% if job.skills is not None %}
                  {% for skill in skills %}
                  <span style="background-color: rgb(0, 70, 70);color: white;margin-right: 5px;padding: 3px 9px;border-radius: 5px;">{{skill}}</span>
                  {% endfor %}
                {% endif %}
              </p>
              <p style="color:red"><strong>Deadline:</strong> {{job.deadline}}</p>
              <!-- <p class="mt-5"><a href="#" class="btn btn-primary  py-2 px-4">Apply Job</a></p> -->
            </div>
          </div>

          <div class="col-lg-4">  
            <div class="border rounded p-4 bg-white mb-3">
              <small>About this company</small>
              <hr>
              <div class="d-flex flex-row mb-3">
                {% if profile.image %}
                <img style="width: 100px;height: 105px;" src="{{profile.image.url}}" alt="Image" class="img-fluid mx-auto">
                {% else %}
                <img style="width: 100px;height: 105px;" src="{% static 'jobinza/images/person.png'%}" alt="Image" class="img-fluid mx-auto">
                {% endif %}

                <div style="width: 200px;word-wrap: break-word; margin-top: 10px;">
                  <div class="pl-3">
                    <h2 class="h5">{{user.username}}</h2>
                    <p>
                      {% if profile.address %}
                      <span class="d-block" title="main industry"><span class="icon-industry"></span> {{profile.address}}</span>
                      {% endif %}
                      {% if profile.location %}
                      <span class="d-block" title="location"><span class="icon-room"></span> {{profile.location}}</span>
                      {% endif %}
                    </p>
                  </div>
                </div>
              </div>
              
              
              <p class="mb-0">{{profile.description}}</p>
            </div>   
                 
            <div class="border rounded d-flex justify-content-center p-3 mb-3 bg-white">    
              {% if user.is_authenticated %}
              <button id="applyStatusButton" type="button" class="btn btn-info" style="width: 90%;font-size: 20px;" data-toggle="modal" data-target="#exampleModal">
                Apply For Job
              </button>
              <!-- <a href="#" style="width: 90%;font-size: 20px;"
               class="btn btn-info  py-2 px-3">Apply For Job</a> -->
              {% else %}
              <a href="{% url 'signup'%}"  style="width: 90%;font-size: 20px;text-align: center;"
              class="border border-info rounded py-2 px-3 text-info" >Apply Now</a>
              {% endif %}
          </div>
          {% if has_resume == False %}
          <div class="alert alert-warning uploadRsm" role="alert">
            <i class="fas fa-exclamation-triangle"></i>
            You have to upload your resume to apply for any job. <a href="#" data-toggle="modal" data-target="#exampleModal">upload my resume?</a>
          </div>
          {% endif %}
        </div>

          
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              {% if has_resume == True %}
                <div class="modal-header">
                <p>You're going to apply for " {{job.jobtitle}} " job</p>
                </div>
                <form method="post" action="{% url 'applicant:ApplyForJob' job.id %}" enctype="multipart/form-data">
                   {% csrf_token %}
                     <div class="modal-footer">
                     <button type="reset" id="closemodal" class="btn btn-light" style="width: 30%;">Cancel</button>
                     <button type="submit" class="btn btn-light" style="width: 30%;">Apply</button>
                    </div>
                </form>
                <script>$('#closemodal').on('click',function(){$('#exampleModal').modal('toggle');}) ;</script>
              {% else %}
              
              <div class="modal-header">
                <h5>Please upload your cv</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <form method="post" action="{% url 'applicant:uploadResume' job.id %}" enctype="multipart/form-data">
                   {% csrf_token %}
                    <div class="modal-body">
                      <div class="container p-5" style="width: 100%;text-align: center;">

                            <label class="upload"><img src="../../../static/jobinza/images/upload.png" alt="" width="220" height="180" class="d-block mx-auto mb-4 rounded-pill">
                              <input id="fileUpload" name="cv" type="file" required style="display: none;" >
                              <h6 id="select">Click to Browse</h6>
                            </label> <br>
                            <label for="file_default">No File Choosen </label>
                            <label for="file_name"><b></b></label>
               
                      </div>
                    </div>
                     <div class="modal-footer">
                      <button type="submit" class="btn btn-light" style="width: 40%;">Apply</button>
                    </div>
              </form>
              {% endif %}
            </div>
          </div>
        </div>
        {%endif%}

      </div>
    </div>

  <script>
$('#fileUpload').change(function() {
    var filename = $('#fileUpload').val();
    if (filename.substring(3,11) == 'fakepath') {
        filename = filename.substring(12);
    } // For Remove fakepath
    document.getElementById("select").style.display = 'none'
    $("label[for='file_name'] b").html(filename);
    $("label[for='file_default']").text('Selected File: ');
    if (filename == "") {
        $("label[for='file_default']").text('No File Choosen');
    }

});
</script>

{% endblock content %}