{% extends 'base.html' %}
{% load static%}
{% block content %}

<div class="card">
    <div class="card-header">
      {{data.title.0}}
    </div>
    
    <div class="card-body">
      <h5 class="card-title">{{data.location.0}}</h5>
      <p class="card-text">{{data.summary.0}}</p>
      <p class="card-text">{{data.date.0}}</p>
      <a href="{{data.link.0}}" class="btn btn-primary">Go explore</a>
    </div>
</div>
<div class="card">
  <div class="card-header">
    {{data.title.1}}
  </div>
  
  <div class="card-body">
    <h5 class="card-title">{{data.location.1}}</h5>
    <p class="card-text">{{data.summary.1}}</p>
    <p class="card-text">{{data.date.1}}</p>
    <a href="{{data.link.1}" class="btn btn-primary">Go explore</a>
  </div>
</div>

<div class="card">
  <div class="card-header">
    {{data.title.2}}
  </div>
  
  <div class="card-body">
    <h5 class="card-title">{{data.location.2}}</h5>
    <p class="card-text">{{data.summary.2}}</p>
    <p class="card-text">{{data.date.2}}</p>
    <a href="{{data.link.2}}" class="btn btn-primary">Go explore</a>
  </div>
</div>



{% endblock content %}