{% extends 'base.html' %}
{% load static%}
{% block content %}


<div class="site-section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mb-5 mb-md-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100">
<div class="jobs-wrap">
  <div class="tab-content tab-space">

    <!---------------------------- All jobs ------------------------>
    <div class="tab-pane active" id="all">
{%for d in data.itertuples  %}
<a href="{{d.link}}" id="jobhead" class="job-item d-block d-md-flex align-items-center  border-bottom fulltime">
  <div class="company-logo blank-logo text-center text-md-left pl-3">
  
  
  <img src="../../../static/jobinza/images/indeed.png" alt="Image" class="img-fluid mx-auto">
  </div>
  <div class="job-details h-100">
   <div class="p-3 align-self-center">
      <h3>
      
        {{d.title}}
     
      </h3>
      <h7>
      
        {{d.summary}}
     
      </h7>
      <div class="d-block d-lg-flex">
      <div class="mr-3"><span class="icon-suitcase mr-1"></span>
      
        {{d.date}}
      
      </div>
      <div class="mr-3"><span class="icon-room mr-1"></span>
      
        {{d.location}}
      
      </div>
      <div><span class="icon-money mr-1"></span>
        
      </div>
      </div>
  </div>
  </div> 
</a>
{%endfor%}
    </div>
  </div>
</div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}