{% extends 'base.html'%}
{% load static %}

{% block content%}

<div class="site-blocks-cover " 
    style="background-image: url('../../../static/jobinza/images/testback.jpg');margin-top: -50px;" 
    data-aos="fade">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12">
            <h1 style="color: green;font-weight: bold;font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;">Find Job</h1>
            <h2 style="max-width: 500px;">Browse jobs to be a great employee by our community</h2>
                <div class="row">
                <div class="col-md-12">
                    <small>we connects professionals and agencies to businesses seeking specialized talent. </small>
                </div>
                </div>
                <div class="row mb-3" >
                <div class="col">
                    <a class="btn btn-default gtstart" href="{% url 'signup' %}">Get Started</a> 
                    <a class="btn btn-default gtstartz" href="#">Watch Demo</a> 
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
      <div class="row">
        
        <div class="col-md-6 mx-auto text-center mb-5 section-heading">
          <h2 class="mb-5">Popular Categories</h2>
        </div>
      </div>
      <div class="row">
        {% for category in catagories%}
        <div class="col-sm-6 col-md-4 col-lg-3 mb-3" data-aos="fade-up" data-aos-delay="100">
          <a href="#" class="h-100 feature-item">
            <span class="d-block icon flaticon-calculator mb-3 text-primary"></span>
            <h2>{{category.name}}</h2>
            <span class="counting">{{category.jobno}}</span>
          </a>
        </div>
        {%endfor%}
       
      </div>
      <br />
      <div class="d-flex justify-content-center" data-aos="fade-up" data-aos-delay="600">
        <a href="#" style="text-decoration: underline;">See All Categories</a>
      </div>
    </div>
</div>


<div class="site-section bg-light">
    <div class="container">
      <div class="row" id="jobs">
        <div class="col-md-8 mb-5 mb-md-0" data-aos="fade-up" data-aos-delay="100">
          <h2 class="mb-5 h3">Recent Jobs</h2>
          <div class="rounded border jobs-wrap" >
            {% for post in jobs %} 
            <a href="/applicant/details/{{post.id}}" id="jobhead" class="job-item d-block d-md-flex align-items-center  border-bottom fulltime">
              <div class="company-logo blank-logo text-center text-md-left pl-3">
                <img src="{{post.image}}" alt="Image" class="img-fluid mx-auto">
              </div>
              <div class="job-details h-100">
                <div class="p-3 align-self-center">
                  <h3 style="display: inline;">
                    {% if post.jobtitle %}
                      {{post.jobtitle}}
                    {% endif %}
                  </h3>
                  {% for user in users%}
                  {% if post.author_id == user.id%}
                  <p style="display: inline-block;"><span class="border border-warning rounded p-1 px-2 text-warning" style="font-size: 12px;margin-left: 5px;">@ {{user.username}}</span></p>
                  {%endif%}
                  {% endfor %}
                
                  <div class="d-block d-lg-flex">
                    <div class="mr-3"><span class="icon-suitcase mr-1"></span>
                      {% if post.careerlevel %}
                      {{post.careerlevel}} 
                  {% endif %} 
                    </div>
                    <div class="mr-3"><i class="fas fa-clock"></i>
                      {% if post.jobtype %}
                      {{post.jobtype}}
                    {% endif %}
                    </div>
                     <div class="mr-3"><i class="fas fa-map-marker-alt"></i>
                      {% if post.joblocation %}
                        {{post.joblocation}}
                      {% endif %}
                    </div> 
                  </div>
                </div>
              </div>
              <div class="job-category align-self-center">
                <div class="p-3">
                  {% if post.status == 'Publishing' %}
                  <button type="button" class="btn btn-outline-info " >More Details</button>
                  {% else %}
                  <p  style="text-align: center;"
                 class="border border-danger rounded p-1 px-2 text-danger" >Closed </p>
                  {% endif %}
                </div>
              </div>  
            </a>
            {% empty %}
                  <li class="list-group-item ">no jobs added</li>
            {% endfor %}
          </div>
            <br>
            <nav class='d-flex justify-content-center' aria-label="Page navigation example">
              <ul class="pagination justify-content-end">
                <li class="page-item">
                  {% if jobs.has_previous %}
                  <a class= "page-link" href ="?page={{ jobs.previous_page_number }}#jobs">Previous</a>
                  <!--<a class="page-link" href="?page={{ posts.paginator.num_pages }}"> Previous </a>-->
                  {% endif %}
                </li>
                {% for num in jobs.paginator.page_range %}
                  {% if jobs.number == num %}
                  <a class="page-link" href="?page={{ num }}#jobs" > {{num}} </a>
                  {% elif num > jobs.number|add:'-3' and num < jobs.number|add:'3'%}
                <a class="page-link" href="?page={{ num }}#jobs" > {{num}} </a>
                {% elif jobs.has_next != True%}
                  {% endif %}
                {% endfor %}
      
                <li class="page-item">
                  {% if jobs.has_next %}
                  <!--<a class="page-link" href="?page={{ posts.next_page_number }}">></a>-->
                  <a class="page-link" href="?page={{ jobs.paginator.num_pages }}#jobs">Next</a>
                  {%endif%}
                </li>
              </ul>
            </nav>

          </div>
          
          <!-- {% if joblength > 8 %}
          <div class="col-md-12 text-center mt-5">
            <a href="#" class="btn btn-primary rounded py-2 px-4"><span class="icon-plus-circle"></span> Show More Jobs</a>
          </div>
          {% endif %}
 -->
        <div class="col-md-4 block-16" data-aos="fade-up" data-aos-delay="200">
          <div class="d-flex mb-0">
            <h2 class="mb-5 h3 mb-0">Featured Jobs</h2>
            <div class="ml-auto mt-1"><a href="#" class="owl-custom-prev">Prev</a> / <a href="#" class="owl-custom-next">Next</a></div>
          </div>

          <div class="nonloop-block-16 owl-carousel" >
            {% for post in jobs %}
          <div class="border rounded p-4 bg-white">
            <h2 class="h5">{{post.jobtitle}} </h2> 
            {% for user in users%}
                {% if post.author_id == user.id %}
              <p><span class="border border-warning rounded p-1 px-2 text-warning" style="font-size: 12px;margin-left: 9px;">@ {{user.username}}</span></p>
               {% else %} <div></div>
               {% endif %}
            {% endfor %}
            <p>
              <span class="d-block"><span class="icon-room"></span>  {{post.joblocation}} , {{post.city}} , {{post.Area}}</span>
              <span class="d-block"><span class="icon-money mr-1"></span> {{post.salary_range1}} &mdash; {{post.salary_range2}}</span>
            </p>
            <p class="mb-0" style="word-wrap: break-word;">We are hiring an applicant {% comment %}{{post.job_description}}{% endcomment %} with : <br> - {{post.year_of_experience}} years Experience 
            <br> - skills... </p>
            <a href="/applicant/details/{{post.id}}" class="text-danger" style="text-decoration: underline; padding-top: 15px;"><small>More details</small></a>
  
          </div>
          {% endfor %}
        </div>

        </div>
      </div>
    </div>
  </div>

  
  <div class="site-section block-15">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto text-center mb-5 section-heading">
          <h2>Companies Using Jobinza</h2>
        </div>
      </div>
      <div class="nonloop-block-15 owl-carousel" style="width: 750px; margin-left: 16%;"> 
        {% for profile in profiles %}
        {% if profile.image %}
        <div class="media-with-text">
          <div class="img-border-sm" >
              <a href="#" class="image-play" >
                <img src="{{profile.image}}" alt="" class="img-fluid">
              </a>
          </div>
        </div>
               
        {% endif %}
        {% endfor %}
      </div>

      <div class="row">      
      </div>
    </div>
  </div>
  




  <div class="site-blocks-cover overlay inner-page" style="background-image: url('../../../static/jobinza/images/hero_1.jpg');" data-aos="fade" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-md-6 text-center" data-aos="fade">
          <h1 class="h3 mb-0">Your Dream Job</h1>
          <p class="h3 text-white mb-5">Is Waiting For You</p>
          <p><a href="#" class="btn btn-outline-warning py-3 px-4">Find Jobs</a> <a href="{% url 'signup' %}" class="btn btn-warning py-3 px-4">Apply For A Job</a></p>
          
        </div>
      </div>
    </div>
  </div>

  

  <div class="site-section site-block-feature bg-light">
    <div class="container">
      
      <div class="text-center mb-5 section-heading">
        <h2>Why Choose Us</h2>
      </div>

      <div class="d-block d-md-flex border-bottom">
        <div class="text-center p-4 item border-right" data-aos="fade">
          <span class="flaticon-worker display-3 mb-3 d-block text-primary"></span>
          <h2 class="h4">More Jobs Every Day</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati reprehenderit explicabo quos fugit vitae dolorum.</p>
          <p><a href="#">Read More <span class="icon-arrow-right small"></span></a></p>
        </div>
        <div class="text-center p-4 item" data-aos="fade">
          <span class="flaticon-wrench display-3 mb-3 d-block text-primary"></span>
          <h2 class="h4">Creative Jobs</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati reprehenderit explicabo quos fugit vitae dolorum.</p>
          <p><a href="#">Read More <span class="icon-arrow-right small"></span></a></p>
        </div>
      </div>
      <div class="d-block d-md-flex">
        <div class="text-center p-4 item border-right" data-aos="fade">
          <span class="flaticon-stethoscope display-3 mb-3 d-block text-primary"></span>
          <h2 class="h4">Healthcare</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati reprehenderit explicabo quos fugit vitae dolorum.</p>
          <p><a href="#">Read More <span class="icon-arrow-right small"></span></a></p>
        </div>
        <div class="text-center p-4 item" data-aos="fade">
          <span class="flaticon-calculator display-3 mb-3 d-block text-primary"></span>
          <h2 class="h4">Finance &amp; Accounting</h2>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati reprehenderit explicabo quos fugit vitae dolorum.</p>
          <p><a href="#">Read More <span class="icon-arrow-right small"></span></a></p>
        </div>
      </div>
    </div>
  </div>





{% endblock content%}