
{% extends 'base.html'%}
{% load static %}

{% block content%}
<style type="text/css">
.show_list{
  border: 1px solid green;
  width: 100%;
	    max-width: 100%;
	    padding: 15px;
      margin: auto;
      
}

#part1
{
  width: 50%;
  float: left;
}

#part3
{
  width: 50%;
  float: right;
  text-align: right;
}

      .image{
          
        border-radius: 50%;
        width: 5%;
        
       
      }
     
     
      .title{
          text-align: center;
          color: rgb(15, 170, 15);
      }
.submit{
    background-color: rgb(27, 158, 27);
    border: 2px solid rgb(27, 158, 27);
    border-radius: 8px;
    text-align: center;
    
}


</style>
<div style="height: 160px;" ></div>
<!--title list-->
<h2 class="title">Recommended Jobs</h2>

    
<div class="container" >
    <div style="height: 15px;" ></div>
    
    
{% for post in posts%}


<div class="container">
    <!--image-->
  <div class="show_list p-2 mb-3">
    <a href="job-single.html"  >
        <div  class="mr-2">
          <img src="../../../static/jobinza/images/person_1.jpg" alt="Image" class="image" >
        </div>
        </a>
    <!--title job-->
  <div   class="h7 text-muted"> 
  <h4>
    <a href="#">
        {% if post.jobtitle %}
        {{post.jobtitle}}
  {% else %}
         {{post.jobtitle}}
  {% endif %}

    </a>
  </h4>
  </div>
   
  <div id="part3">
    <!--button apply-->

    <button  class="submit" style="font-size: 20px; width:100px  ;margin-right: 25px; "><a href="#" style="color: white;">Apply</a></button>
  </div>   
<!--place-->
<div class="mr-3"><span class="icon-room mr-1"></span> 
    {% if post.joblocation %}
                    {{post.joblocation}}
              {% else %}
                     {{post.joblocation}}
              {% endif %} .
              {% if post.Area %}
                    {{post.Area}}
              {% else %}
                     {{post.Area}}
              {% endif %} --
              <!--career-->
              {% if post.careerlevel %}
                    {{post.careerlevel}}
              {% else %}
                     {{post.careerlevel}}
              {% endif %}
              <!--salary-->
              <div class="input-group"> 
         <p> Salary 
    {% if post.salary_range1 %}
                    {{post.salary_range1}} 
              {% else %}
                     {{post.salary_range1}}
              {% endif %}
     <p>  --> </p>         
     {% if post.salary_range2 %}
                    {{post.salary_range2}} 
              {% else %}
                     {{post.salary_rang2}}
              {% endif %}
            </p>
      </div>
    </div>

<!--date post-->
  <div class="d-block d-lg-flex">
    <span class="icon-suitcase mr-1">Posted in 
        {% if post.deadline %}
        {{post.deadline}}
    {% else %}
         {{post.deadline}}
    {% endif %}
    <!--status-->
    
        {% if post.status %}
    {{post.status}}
{% else %}
     {{post.status}}
{% endif %}
   
 </span>
  </div>
  
  
  
</div>

{% endfor %}
</div>
</div>

{% endblock%}