{% extends 'base.html' %}
{% block content %}

<style type="text/css">
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
  }
  .form-signin .checkbox {
    font-weight: 400;
  }
  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="password"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .h3{
    text-align: left;
  }
</style>



<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<div class="site-section bg-light" style="margin-top: -50px;">

<div class="container">
<div class="row flex-lg-nowrap">
  <div class="col-12 col-lg-auto mb-3" style="width: 200px;">
    <div class="card p-3">
      <div class="e-navlist e-navlist--active-bg">
        <ul class="nav">
          <li class="nav-item"><a class="nav-link px-2 active" href="{% url 'company:edit_profile' %}"><i class="fa fa-fw fa-bar-chart mr-1"></i><span>Profile</span></a></li>
          <li class="nav-item"><a class="nav-link px-2" href="{% url 'password_change' %}"><i class="fa fa-fw fa-cog mr-1"></i><span>Settings</span></a></li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="row">
      <div class="col mb-3">
        <div class="card">
          <div class="card-body">
            <div class="e-profile">
              <div class="row">
                
                <div class="col d-flex flex-column flex-sm-row justify-content-between mb-3">
                  <div class="text-center text-sm-left mb-2 mb-sm-0">
                    <h4 class="pt-sm-2 pb-1 mb-0 text-nowrap">{{user.username}}</h4>
                    <p class="mb-0">{{user.email}}</p>
                    <div class="text-muted"><small>Last seen {{user.last_login}}</small></div>
                    
                  </div>
                  <div class="text-center text-sm-right">
                    <span class="badge badge-secondary">change setting</span>
                    <div class="text-muted"><small>Joined {{user.date_joined}}</small></div>
                  </div>
                </div>
              </div>
              <ul class="nav nav-tabs">
                <li class="nav-item"><a href="#setting" class="active nav-link" role="tab" data-toggle="tab">Setting</a></li>
                <li class="nav-item"><a href="#change" class="nav-link" role="tab" data-toggle="tab">Change Passowrd</a></li>
              </ul>
                      
            </div>
            <div class="tab-content pt-3">
              <div class="tab-pane active" id="setting">
                <form action="{% url 'changeaccounntsetting' %}" method="POST" class="form" novalidate="">
                  {%csrf_token%}
                  <div class="row">
                      <div class="col">
                        <div class="row">
                          <div class="col">
                            <div class="form-group">
                                <label>First Name</label>
                                <input class="form-control" type="text" name="first_name" placeholder="{{user.first_name}}" value="{{user.first_name}}">
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group">
                                <label>Last Name</label>
                                <input class="form-control" type="text" name="last_name" placeholder="{{user.last_name}}" value="{{user.last_name}}">
                            </div>
                          </div> 
                          <!-- <div class="col">
                            <div class="form-group">
                                <label>Username</label>
                                <input class="form-control" type="text" name="username" placeholder="{{user.username}}" value="{{user.username}}">
                            </div>
                          </div> -->
                        </div>
                      <div class="row">
                        <div class="col">
                          <div class="form-group">
                              <label>Email</label>
                              <input class="form-control" type="text" name = "email" placeholder="{{user.email}}" value="{{user.email}}">
                          </div>
                        </div>
                      </div>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col d-flex justify-content-end">
                      <button type="submit" class="btn btn-primary" >Save Changes</button>
                      </div>
                  </div>
                </form>
              </div>
              <div class="tab-pane" id="change">
              <form method="POST" class="form-signin">{% csrf_token %}
                
                  <input name="old_password" class="form-control" placeholder="Old password" type="password" id="id_old_password" required="true">
                  <input name="new_password1" class="form-control" placeholder="New password" type="password" id="id_new_password1" required="true">
                  <input name="new_password2" class="form-control" placeholder="Confirm password" type="password" id="id_new_password2" required="true">

                  {% for field in form %}
                    {% for error in field.errors %}
                      <p style="color: red">{{ error }}</p>
                    {% endfor %}
                  {% endfor %}

                <button class="btn btn-lg btn-primary btn-block" type="submit">Confirm</button>  
              </form>
              </div>
            </div>

                    
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


  </div>
</div>
</div>
{% endblock content %}