{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}


<style type="text/css">
  .form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  }

  .form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
  }
  .form-signin .form-control:focus {
    z-index: 2;
  }
  .form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="text"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .form-signin input[type="password"] {
    margin-bottom: -1px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  .h3{
    text-align: center;
  }

</style>


<h1 class="h3 mb-3 font-weight-normal mt-5">Sign Up</h1>
<form class="form-signin" method="post">
  {% csrf_token %}
  {{ form|crispy}}
  <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>

<div class="form-group">
                <div class="col-md-12 control">
                    <div style="border-top: 1px solid#888; padding-top:15px; font-size:85%" >
                        Create account for job advertise ?<a href="{% url 'register' %}" >
                            yes 
                        </a> <br>
                        Already have account?<a href="{% url 'login' %}" >
                        Login 
                    </a>
                    </div>
                </div>
            </div>    
</p>
</form>

{% endblock content %}

